<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.AccountReverseMapper">


    <insert id="insertPerson" parameterType="AccountReverseDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into process.account
		(
			billingstreet
            , billingstreet_2__c
            , billingstreet_3__c
            , neighborhood
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , "type"
            , firstname
            , lastname
            , personemail
            , personhomephone
            , companyphone__pc
            , workphone__c
            , personmobilephone
            , gender__pc
            , pcd__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , employee__c
            , favoritedealer__c
            , dealercode__c
            , crmindex__c
            , engagement__c
            , optinflag__c
            , satificationlevel__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , loyaltystatus__c
            , cpf__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , x_printed_card__c
            , blockedvideocall__c
            , preferredcontactchannel__c
            , maritalstatus__pc
            , calloptyn__pc
            , directmailoptyn__pc
            , blockedletters__c
            , emailoptyn__pc
            , blockedemails__pc
            , blockedsms__c
            , blockedwhatsapp__c
            , loyaltyengagementindex__c
            , loyaltylifecycle__c
            , salutation
            , personbirthdate
            , influentialperson__c
            , registrysource__c
            , loyaltyvalue__c
            , occupation__pc
            , corporateregistrationnumber__c
            , "name"
            , corporaterepresentativename__c
            , ori_cd__c
            , x_contracted_since__c
            , phone
            , fax
            , emailaddress__c
            , website
            , situationstatusreason__c
            , region__c
            , businesstype__c
            , industry
            , x_tot_flt_size__c
            , fleettype__c
            , dealershoptype__c
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , x_sales_rep__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , cust_stat_cd__c
            , partnertype__c
            , numberofemployees
            , prtnrshp_start_dt__c
            , prtnrshp_end_dt__c
            , customersap__c
            , legacy_created
            , integrationid
            , recordtypeid
            , sfid
		)values(
            #{personMailingStreet}
            , #{billingStreet}
            , #{houseBuildingNo}
            , #{complement}
            , #{neighborhood}
            , #{personMailingCity}
            , #{billingCountry}
            , #{billingCity}
            , #{personMailingState}
            , #{billingState}
            , #{personMailingPostalCode}
            , #{billingPostalCode}
            , #{personMailingLatitude}
            , #{billingLatitude}
            , #{personMailingLongitude}
            , #{billingLongitude}
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , #{pcd}
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , #{employee}
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , #{optInFlag}
            , #{satisficationLevel}
            , #{cnhexpirationDate}
            , #{loyaltyActivationDate}
            , #{loyaltyStatus}
            , #{cpf}
            , #{receiveProductNewsFlag}
            , #{receiveRetailOffersFlag}
            , #{receiveServiceOffersFlag}
            , #{receiveNewsLetterFlag}
            , #{receiveEventsFlag}
            , #{receiveResearchFlag}
            , #{blockedMobile}
            , #{blockedVideoCall}
            , #{blockedCalls}
            , #{blockedletters}
            , #{blockedEmails}
            , #{blockedSms}
            , #{blockedWhatsapp}
            , #{preferredContactChannel}
            , #{maritalStatus}
            , #{lifeCycle}
            , #{salutation}
            , #{personBirthdate}
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , #{cnpj}
            , #{name}
            , #{nickname}
            , #{accountCategory}
            , #{contractRenewalDate}
            , #{phone}
            , #{fax}
            , #{emailAddress}
            , #{website}
            , #{situationStatusReason}
            , #{region}
            , #{businessType}
            , #{industry}
            , #{fleetSize}
            , #{organizationType}
            , #{dealershopType}
            , #{salesFlag}
            , #{serviceFlag}
            , #{businessHours}
            , #{facebook}
            , #{fleetAdministrator}
            , #{description}
            , #{leadManager}
            , #{dms}
            , #{apikey}
            , #{whatsappPhone}
            , #{situationStatus}
            , #{partnerType}
            , #{numberOfEmployees}
            , #{operationDate}
            , #{terminationDate}
            , #{customerSap}
            , #{legacyCreatedDate}
            , #{integratedId}
            , #{recordTypeId}
            , #{sfId}
        )
    </insert>

    <insert id="insertDealerOrBusiness" parameterType="AccountReverseDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        
    </insert>
</mapper>
