<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.AccountReverseMapper">
    <select id="getAccount" parameterType="AccountReverseDto" resultType="string">
        select 
            row_id as rowId
        from
            process.account a
        where
            row_id = #{externalId}
    </select>

    <insert id="insertAccount" parameterType="AccountReverseDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into process.account
		(
			billingstreet
            , billingstreet_2__c
            , billingstreet_3__c
            , neighborhood
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , "type"
            , firstname
            , lastname
            , personemail
            , personhomephone
            , companyphone__pc
            , workphone__c
            , personmobilephone
            , gender__pc
            , pcd__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , employee__c
            , favoritedealer__c
            , dealercode__c
            , crmindex__c
            , engagement__c
            , optinflag__c
            , satificationlevel__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , loyaltystatus__c
            , cpf__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , x_printed_card__c
            , blockedvideocall__c
            , preferredcontactchannel__c
            , calloptyn__pc
            , directmailoptyn__pc
            , blockedletters__c
            , emailoptyn__pc
            , blockedemails__pc
            , blockedsms__c
            , blockedwhatsapp__c
            , loyaltyengagementindex__c
            , loyaltylifecycle__c
            , salutation
            , personbirthdate
            , influentialperson__c
            , registrysource__c
            , loyaltyvalue__c
            , occupation__pc
            , corporateregistrationnumber__c
            , "name"
            , corporaterepresentativename__c
            , ori_cd__c
            , x_contracted_since__c
            , phone
            , fax
            , emailaddress__c
            , website
            , situationstatusreason__c
            , region__c
            , businesstype__c
            , industry
            , x_tot_flt_size__c
            , fleettype__c
            , dealershoptype__c
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , x_sales_rep__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , cust_stat_cd__c
            , partnertype__c
            , numberofemployees
            , prtnrshp_start_dt__c
            , prtnrshp_end_dt__c
            , customersap__c
            , legacy_created
            , integrationid
            , recordtypeid
            , sfid
            , process_account_type
		)values(
            #{street}
            , #{houseBuildingNo}
            , #{complement}
            , #{neighborhood}
            , #{country}
            , #{city}
            , #{state}
            , #{postalCode}
            , #{latitude}::float8
            , #{longitude}::float8
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , #{pcd}
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , case when #{employee} = 'Y' then true else false end
            , #{dealerCode}
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , case when #{optInFlag} = 'Y' then true else false end
            , #{satisficationLevel}
            , #{cnhexpirationDate}::timestamp
            , #{loyaltyActivationDate}::timestamp
            , #{loyaltyStatus}
            , #{cpf}
            , case when #{receiveProductNewsFlag} = 'Y' then true else false end
            , case when #{receiveRetailOffersFlag} = 'Y' then true else false end
            , case when #{receiveServiceOffersFlag} = 'Y' then true else false end
            , case when #{receiveNewsLetterFlag} = 'Y' then true else false end
            , case when #{receiveEventsFlag} = 'Y' then true else false end
            , case when #{receiveResearchFlag} = 'Y' then true else false end
            , case when #{blockedMobile} = 'Y' then true else false end
            , case when #{blockedVideoCall} = 'Y' then true else false end
            , case when #{blockedVideoCall} = 'Y' then true else false end
            , #{preferredContactChannel}
            , case when #{blockedCalls} = 'Y' then true else false end
            , case when #{blockedletters} = 'Y' then true else false end
            , case when #{blockedletters} = 'Y' then true else false end
            , case when #{blockedEmails} = 'Y' then true else false end
            , case when #{blockedEmails} = 'Y' then true else false end
            , case when #{blockedSms} = 'Y' then true else false end
            , case when #{blockedWhatsapp} = 'Y' then true else false end
            , #{engagementIndex}
            , #{lifeCycle}
            , #{salutation}
            , #{personBirthdate}::date
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , #{cnpj}
            , #{name}
            , #{nickname}
            , #{accountCategory}
            , #{contractRenewalDate}::date
            , #{phone}
            , #{fax}
            , #{emailAddress}
            , #{website}
            , #{situationStatusReason}
            , #{region}
            , #{businessType}
            , #{industry}
            , #{fleetSize}
            , #{organizationType}
            , #{dealershopType}
            , case when #{salesFlag} = 'Y' then true else false end
            , case when #{serviceFlag} = 'Y' then true else false end
            , #{businessHours}
            , #{facebook}
            , #{fleetAdministrator}
            , #{description}
            , case when #{leadManager} = 'Y' then true else false end
            , #{dms}
            , #{apikey}
            , #{whatsappPhone}
            , #{situationStatus}
            , #{partnerType}
            , #{numberOfEmployees}
            , #{operationDate}::date
            , #{terminationDate}::date
            , #{customerSap}
            , #{legacyCreatedDate}::timestamp
            , #{integratedId}
            , #{recordTypeId}
            , #{sfId}
            , #{processAccountType}
        )
    </insert>

    <insert id="insertDpContact" parameterType="AccountReverseDto">
        insert into process."S_CONTACT"
        (
            row_id
            , con_cd
            , fst_name
            , last_name
            , email_addr
            , home_ph_num
            , work_ph_num
            , cell_ph_num
            , sex_mf
            , x_pne_flg
            , x_cpf
            , X_OPTIN_PRODUCT_FLG
            , X_OPTIN_RETAIL_FLG
            , X_OPTIN_OFFER_FLG
            , X_OPTIN_NEWS_FLG
            , X_OPTIN_EVENTS_FLG
            , X_OPTIN_RESEARCH_FLG
            , X_OPTIN_PHONE
            , X_SUP_GONE_AWAY
            , PREF_COMM_METH_CD
            , MARITAL_STAT_CD
            , SUPPRESS_CALL_FLG
            , SUPPRESS_MAIL_FLG
            , SUPPRESS_EMAIL_FLG
            , X_PRINTED_CARD
            , PER_TITLE
            , BIRTH_DT
            , created
            , created_by
            , last_upd
            , last_upd_by
        )
        values(
            #{rowId}
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , #{pcd}
            , #{cpf}
            , #{receiveProductNewsFlag}
            , #{receiveRetailOffersFlag}
            , #{receiveServiceOffersFlag}
            , #{receiveNewsLetterFlag}
            , #{receiveEventsFlag}
            , #{receiveResearchFlag}
            , #{blockedMobile}
            , #{blockedVideoCall}
            , #{preferredContactChannel}
            , #{maritalStatus}
            , #{blockedCalls}
            , #{blockedletters}
            , #{blockedEmails}
            , #{blockedWhatsapp}
            , #{salutation}
            , #{personBirthdate}::timestamp
            , #{legacyCreatedDate}::timestamp
            , 'SFDC'
            , #{legacyCreatedDate}::timestamp
            , 'SFDC' 
        )
    </insert>

    <insert id="insertDpContactSub" parameterType="AccountReverseDto">
        insert into process."S_CONTACT_X"
        (
            row_id
            , par_row_id
            , ATTRIB_36
            , ATTRIB_49
            , X_LITERACY
            , X_CALLED_BY
            , X_EMPLOYEE_FLG
            , X_FAVORITE_DEALER
            , x_loyalty_crm_index
            , x_loyalty_engagement
            , x_loyalty_optin_flg
            , x_loyalty_satisfaction
            , X_CNH_EXP_DATE
            , X_LOYALTY_ACT_DT
            , X_LOYALTY_STATUS
            , X_SEG_LIFE_CYCLE
            , attrib_50
            , ATTRIB_45
            , X_SEG_VALUE
            , ATTRIB_34
            , created
            , created_by
            , last_upd
            , last_upd_by
        )values(
            #{rowId}
            , #{rowId}
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , #{employee}
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , #{optInFlag}
            , #{satisficationLevel}
            , #{cnhexpirationDate}::timestamp
            , #{loyaltyActivationDate}::timestamp
            , #{loyaltyStatus}
            , #{lifeCycle}
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , #{legacyCreatedDate}::timestamp
            , 'SFDC'
            , #{legacyCreatedDate}::timestamp
            , 'SFDC'
        )
    </insert>

    <insert id="insertDpOrgExt" parameterType="AccountReverseDto">
        insert into process."S_ORG_EXT"
			(
				row_id
				, x_cnpj
				, Name
				, X_NICKNAME
				, ORI_CD
				, X_CONTRACTED_SINCE
				, SOURCE_CD
				, MAIN_PH_NUM
				, MAIN_FAX_PH_NUM
				, MAIN_EMAIL_ADDR
				, URL
				, X_REASON_STATUS
				, OU_NUM
				, REGION
				, ACCNT_TYPE_CD
				, PRTNRSHP_START_DT
				, X_WHATSAPP_PH_NUM
				, CUST_STAT_CD
				, X_SALES_REP
				, DESC_TEXT
				, created
				, created_by
				, last_upd
				, last_upd_by
			)values(
                #{rowId}
                , #{cnpj}
                , #{name}
                , #{nickname}
                , #{accountCategory}
                , #{contractRenewalDate}::timestamp
                , #{registrySource}
                , #{phone}
                , #{fax}
                , #{emailAddress}
                , #{website}
                , #{situationStatusReason}
                , #{dealerCode}
                , #{region}
                , #{type}
                , #{operationDate}::timestamp
                , #{whatsappPhone}
                , #{situationStatus}
                , #{fleetAdministrator}
                , #{description}
                , #{legacyCreatedDate}::timestamp
                , 'SFDC'
                , #{legacyCreatedDate}::timestamp
                , 'SFDC'
            )
    </insert>

    <insert id="insertReplicaAcc" parameterType="AccountReverseDto">
        insert into "replica".account
        (
            billingstreet
            , housebuildingno__c
            , complement__c
            , neighborhood__c
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , type
            , firstname
            , lastname
            , personemail
            , personhomephone
            , workphone__c
            , personmobilephone
            , gender__pc
            , pcd__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , employee__c
            , dealercode__c
            , crmindex__c
            , engagementindex__c
            , optinflag__c
            , satisficationlevel__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , loyaltystatus__c
            , cpf__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , blockedvideocall__c
            , preferredcontactchannel__c
            , blockedcalls__c
            , blockedletters__c
            , blockedemails__c
            , blockedsms__c
            , blockedwhatsapp__c
            , lifecycle__c
            , salutation
            , personbirthdate
            , influentialperson__c
            , registrysource__c
            , loyaltyvalue__c
            , occupation__pc
            , cnpj__c
            , name
            , nickname__c
            , accountcategory__c
            , contractrenewaldate__c
            , phone
            , fax
            , emailaddress__c
            , website
            , situationstatusreason__c
            , region__c
            , businesstype__c
            , industry
            , fleetsize__c
            , organizationtype__c
            , dealershoptype__c
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , fleetadministrator__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , situationstatus__c
            , partnertype__c
            , numberofemployees
            , operationdate__c
            , terminationdate__c
            , customersap__c
            , legacycreateddate__c
            , integratedid__c
            , recordtypeid
            , sfid
            , external_id__c
        )values(
            #{street}
            , #{houseBuildingNo}
            , #{complement}
            , #{neighborhood}
            , #{country}
            , #{city}
            , #{state}
            , #{postalCode}
            , #{latitude}::float8
            , #{longitude}::float8
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , case when #{pcd} = 'Y' then true else false end
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , case when #{employee} = 'Y' then true else false end
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , case when #{optInFlag} = 'Y' then true else false end
            , #{satisficationLevel}
            , #{cnhexpirationDate}::timestamp
            , #{loyaltyActivationDate}::timestamp
            , #{loyaltyStatus}
            , #{cpf}
            , case when #{receiveProductNewsFlag} = 'Y' then true else false end
            , case when #{receiveRetailOffersFlag} = 'Y' then true else false end
            , case when #{receiveServiceOffersFlag} = 'Y' then true else false end
            , case when #{receiveNewsLetterFlag} = 'Y' then true else false end
            , case when #{receiveEventsFlag} = 'Y' then true else false end
            , case when #{receiveResearchFlag} = 'Y' then true else false end
            , case when #{blockedMobile} = 'Y' then true else false end
            , case when #{blockedVideoCall} = 'Y' then true else false end
            , #{preferredContactChannel}
            , case when #{blockedCalls} = 'Y' then true else false end
            , case when #{blockedletters} = 'Y' then true else false end
            , case when #{blockedEmails} = 'Y' then true else false end
            , case when #{blockedSms} = 'Y' then true else false end
            , case when #{blockedWhatsapp} = 'Y' then true else false end
            , #{lifeCycle}
            , #{salutation}
            , #{personBirthdate}::date
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , #{cnpj}
            , #{name}
            , #{nickname}
            , #{accountCategory}
            , #{contractRenewalDate}
            , #{phone}
            , #{fax}
            , #{emailAddress}
            , #{website}
            , #{situationStatusReason}
            , #{region}
            , #{businessType}
            , #{industry}
            , #{fleetSize}
            , #{organizationType}
            , #{dealershopType}
            , case when #{salesFlag} = 'Y' then true else false end
            , case when #{serviceFlag} = 'Y' then true else false end
            , #{businessHours}
            , #{facebook}
            , #{fleetAdministrator}
            , #{description}
            , #{leadManager}
            , #{dms}
            , #{apikey}
            , #{whatsappPhone}
            , #{situationStatus}
            , #{partnerType}
            , #{numberOfEmployees}
            , #{operationDate}::date
            , #{terminationDate}::date
            , #{customerSap}
            , #{legacyCreatedDate}::timestamp
            , #{integratedId}
            , #{recordTypeId}
            , #{sfId}
            , #{rowId}
        )
    </insert>

    <update id="updateAccount" parameterType="AccountReverseDto">
        update process.account as pa set
            billingstreet = COALESCE(#{street}, billingstreet)
            , billingstreet_2__c = COALESCE(#{houseBuildingNo}, billingstreet_2__c)
            , billingstreet_3__c = COALESCE(#{complement}, billingstreet_3__c)
            , neighborhood = COALESCE(#{neighborhood}, neighborhood)
            , billingcountry = COALESCE(#{country}, billingcountry)
            , billingcity = COALESCE(#{city}, billingcity)
            , billingstate = COALESCE(#{state}, billingstate)
            , billingpostalcode = COALESCE(#{postalCode}, billingpostalcode)
            , billinglatitude = COALESCE(#{latitude}::float8, billinglatitude)
            , billinglongitude = COALESCE(#{longitude}::float8, billinglongitude)
            , firstname = COALESCE(#{firstName}, firstname)
            , lastname = COALESCE(#{lastName}, lastname)
            , personemail = COALESCE(#{personEmail}, personemail)
            , personhomephone = COALESCE(#{personHomePhone}, personhomephone)
            , companyphone__pc = COALESCE(#{workPhone}, companyphone__pc)
            , workphone__c = COALESCE(#{workPhone}, workphone__c)
            , personmobilephone = COALESCE(#{personMobilePhone}, personmobilephone)
            , gender__pc = COALESCE(#{genderPC}, gender__pc)
            , pcd__c = COALESCE(#{pcd}, pcd__c)
            , income__c = COALESCE(#{income}, income__c)
            , productofinterest__c = COALESCE(#{productOfInterest}, productofinterest__c)
            , literacy__c = COALESCE(#{literacy}, literacy__c)
            , calledby__c = COALESCE(#{calledBy}, calledby__c)
            , employee__c = COALESCE((case when #{employee} = 'Y' then true else false end), employee__c)
            , favoritedealer__c = COALESCE(#{dealerCode}, favoritedealer__c)
            , dealercode__c = COALESCE(#{dealerCode}, dealercode__c)
            , crmindex__c = COALESCE(#{crmIndex}, crmindex__c)
            , engagement__c = COALESCE(#{engagementIndex}, engagement__c)
            , optinflag__c = COALESCE((case when #{optInFlag} = 'Y' then true else false end), optinflag__c)
            , type = COALESCE(#{type}, type)
            , satificationlevel__c = COALESCE(#{satisficationLevel}, satificationlevel__c)
            , loyaltyexpirationdate__c = COALESCE(#{cnhexpirationDate}::timestamp, loyaltyexpirationdate__c)
            , loyaltyactivationdate__c = COALESCE(#{loyaltyActivationDate}::timestamp, loyaltyactivationdate__c)
            , loyaltystatus__c = COALESCE(#{loyaltyStatus}, loyaltystatus__c)
            , receiveproductnewsflag__c = COALESCE((case when #{receiveProductNewsFlag} = 'Y' then true else false end), receiveproductnewsflag__c)
            , receiveretailoffersflag__c = COALESCE((case when #{receiveRetailOffersFlag} = 'Y' then true else false end), receiveretailoffersflag__c)
            , receiveserviceoffersflag__c = COALESCE((case when #{receiveServiceOffersFlag} = 'Y' then true else false end), receiveserviceoffersflag__c)
            , receivenewsletterflag__c = COALESCE((case when #{receiveNewsLetterFlag} = 'Y' then true else false end), receivenewsletterflag__c)
            , receiveeventsflag__c = COALESCE((case when #{receiveEventsFlag} = 'Y' then true else false end), receiveeventsflag__c)
            , receiveresearchflag__c = COALESCE((case when #{receiveResearchFlag} = 'Y' then true else false end), receiveresearchflag__c)
            , blockedmobile__c = COALESCE((case when #{blockedMobile} = 'Y' then true else false end), blockedmobile__c)
            , x_printed_card__c = COALESCE((case when #{blockedVideoCall} = 'Y' then true else false end), x_printed_card__c)
            , blockedvideocall__c = COALESCE((case when #{blockedVideoCall} = 'Y' then true else false end), blockedvideocall__c)
            , preferredcontactchannel__c = COALESCE(#{preferredContactChannel}, preferredcontactchannel__c)
            , calloptyn__pc = COALESCE((case when #{blockedCalls} = 'Y' then true else false end), calloptyn__pc)
            , directmailoptyn__pc = COALESCE((case when #{blockedletters} = 'Y' then true else false end), directmailoptyn__pc)
            , blockedletters__c = COALESCE((case when #{blockedletters} = 'Y' then true else false end), blockedletters__c)
            , emailoptyn__pc = COALESCE((case when #{blockedEmails} = 'Y' then true else false end), emailoptyn__pc)
            , blockedemails__pc = COALESCE((case when #{blockedEmails} = 'Y' then true else false end), blockedemails__pc)
            , blockedsms__c = COALESCE((case when #{blockedSms} = 'Y' then true else false end), blockedsms__c)
            , blockedwhatsapp__c = COALESCE((case when #{blockedWhatsapp} = 'Y' then true else false end), blockedwhatsapp__c)
            , loyaltyengagementindex__c = COALESCE(#{engagementIndex}, loyaltyengagementindex__c)
            , loyaltylifecycle__c = COALESCE(#{lifeCycle}, loyaltylifecycle__c)
            , salutation = COALESCE(#{salutation}, salutation)
            , personbirthdate = COALESCE(#{personBirthdate}::date, personbirthdate)
            , influentialperson__c = COALESCE(#{influentialPerson}, influentialperson__c)
            , registrysource__c = COALESCE(#{registrySource}, registrysource__c)
            , loyaltyvalue__c = COALESCE(#{loyaltyValue}, loyaltyvalue__c)
            , occupation__pc = COALESCE(#{occupation}, occupation__pc)
            , corporateregistrationnumber__c = COALESCE(#{cnpj}, corporateregistrationnumber__c)
            , "name" = COALESCE(#{name}, "name")
            , corporaterepresentativename__c = COALESCE(#{nickname}, corporaterepresentativename__c)
            , ori_cd__c = COALESCE(#{accountCategory}, ori_cd__c)
            , x_contracted_since__c = COALESCE(#{contractRenewalDate}::date, x_contracted_since__c)
            , phone = COALESCE(#{phone}, phone)
            , fax = COALESCE(#{fax}, fax)
            , emailaddress__c = COALESCE(#{emailAddress}, emailaddress__c)
            , website = COALESCE(#{website}, website)
            , situationstatusreason__c = COALESCE(#{situationStatusReason}, situationstatusreason__c)
            , region__c = COALESCE(#{region}, region__c)
            , businesstype__c = COALESCE(#{businessType}, businesstype__c)
            , industry = COALESCE(#{industry}, industry)
            , x_tot_flt_size__c = COALESCE(#{fleetSize}, x_tot_flt_size__c)
            , fleettype__c = COALESCE(#{organizationType}, fleettype__c)
            , dealershoptype__c = COALESCE(#{dealershopType}, dealershoptype__c)
            , salesflag__c = COALESCE(#{salesFlag}, salesflag__c)
            , serviceflag__c = COALESCE(#{serviceFlag}, serviceflag__c)
            , businesshours__c = COALESCE(#{businessHours}, businesshours__c)
            , facebook__c = COALESCE(#{facebook}, facebook__c)
            , x_sales_rep__c = COALESCE(#{fleetAdministrator}, x_sales_rep__c)
            , description = COALESCE(#{description}, description)
            , leadmanager__c = COALESCE((case when #{leadManager} = 'Y' then true else false end), leadmanager__c)
            , dms__c = COALESCE(#{dms}, dms__c)
            , apikey__c = COALESCE(#{apikey}, apikey__c)
            , whatsappphone__c = COALESCE(#{whatsappPhone}, whatsappphone__c)
            , cust_stat_cd__c = COALESCE(#{situationStatus}, cust_stat_cd__c)
            , partnertype__c = COALESCE(#{partnerType}, partnertype__c)
            , numberofemployees = COALESCE(#{numberOfEmployees}, numberofemployees)
            , prtnrshp_start_dt__c = COALESCE(#{operationDate}::date, prtnrshp_start_dt__c)
            , prtnrshp_end_dt__c = COALESCE(#{terminationDate}::date, prtnrshp_end_dt__c)
            , customersap__c = COALESCE(#{customerSap}, customersap__c)
            , integrationid = COALESCE(#{integratedId}, integrationid)
            , sfid = COALESCE(#{sfId}, sfid)
        where
            pa.row_id = #{externalId}
    </update>

    <update id="updateDpContact" parameterType="AccountReverseDto">
        update process."S_CONTACT" set
            con_cd = COALESCE(#{type}, con_cd)
            , fst_name = COALESCE(#{firstName}, fst_name)
            , last_name = COALESCE(#{lastName}, last_name)
            , email_addr = COALESCE(#{personEmail}, email_addr)
            , home_ph_num = COALESCE(#{personHomePhone}, home_ph_num)
            , work_ph_num = COALESCE(#{workPhone}, work_ph_num)
            , cell_ph_num = COALESCE(#{personMobilePhone}, cell_ph_num)
            , sex_mf = COALESCE(#{genderPC}, sex_mf)
            , x_pne_flg = COALESCE(#{pcd}, x_pne_flg)
            , X_OPTIN_PRODUCT_FLG = COALESCE(#{receiveProductNewsFlag}, X_OPTIN_PRODUCT_FLG)
            , X_OPTIN_RETAIL_FLG = COALESCE(#{receiveRetailOffersFlag}, X_OPTIN_RETAIL_FLG)
            , X_OPTIN_OFFER_FLG = COALESCE(#{receiveServiceOffersFlag}, X_OPTIN_OFFER_FLG)
            , X_OPTIN_NEWS_FLG = COALESCE(#{receiveNewsLetterFlag}, X_OPTIN_NEWS_FLG)
            , X_OPTIN_EVENTS_FLG = COALESCE(#{receiveEventsFlag}, X_OPTIN_EVENTS_FLG)
            , X_OPTIN_RESEARCH_FLG = COALESCE(#{receiveResearchFlag}, X_OPTIN_RESEARCH_FLG)
            , X_OPTIN_PHONE = COALESCE(#{blockedMobile}, X_OPTIN_PHONE)
            , X_SUP_GONE_AWAY = COALESCE(#{blockedVideoCall}, X_SUP_GONE_AWAY)
            , PREF_COMM_METH_CD = COALESCE(#{preferredContactChannel}, PREF_COMM_METH_CD)
            , MARITAL_STAT_CD = COALESCE(#{maritalStatus}, MARITAL_STAT_CD)
            , SUPPRESS_CALL_FLG = COALESCE(#{blockedCalls}, SUPPRESS_CALL_FLG)
            , SUPPRESS_MAIL_FLG = COALESCE(#{blockedletters}, SUPPRESS_MAIL_FLG)
            , SUPPRESS_EMAIL_FLG = COALESCE(#{blockedEmails}, SUPPRESS_EMAIL_FLG)
            , X_PRINTED_CARD = COALESCE(#{blockedWhatsapp}, X_PRINTED_CARD)
            , PER_TITLE = COALESCE(#{salutation}, PER_TITLE)
            , BIRTH_DT = COALESCE(#{personBirthdate}::timestamp, BIRTH_DT)
            , last_upd = now()
        where
            row_id = #{externalId} 
    </update>

    <update id="updateDpContactSub" parameterType="AccountReverseDto">
        update process."S_CONTACT_X" as cx set 
            ATTRIB_36 = COALESCE(#{income}, ATTRIB_36) 
            , ATTRIB_49 = COALESCE(#{productOfInterest}, ATTRIB_49) 
            , X_LITERACY = COALESCE(#{literacy}, X_LITERACY) 
            , X_CALLED_BY = COALESCE(#{calledBy}, X_CALLED_BY) 
            , X_EMPLOYEE_FLG = COALESCE(#{employee}, X_EMPLOYEE_FLG) 
            , X_FAVORITE_DEALER = COALESCE(#{dealerCode}, X_FAVORITE_DEALER) 
            , x_loyalty_crm_index = COALESCE(#{crmIndex}, x_loyalty_crm_index) 
            , x_loyalty_engagement = COALESCE(#{engagementIndex}, x_loyalty_engagement) 
            , x_loyalty_optin_flg = COALESCE(#{optInFlag}, x_loyalty_optin_flg) 
            , x_loyalty_satisfaction = COALESCE(#{satisficationLevel}, x_loyalty_satisfaction) 
            , X_CNH_EXP_DATE = COALESCE(#{cnhexpirationDate}, X_CNH_EXP_DATE) case when #{cnhexpirationDate} isnull then cx.X_CNH_EXP_DATE else #{cnhexpirationDate}::timestamp end 
            , X_LOYALTY_ACT_DT = COALESCE(#{loyaltyActivationDate}::timestamp, X_LOYALTY_ACT_DT) 
            , X_LOYALTY_STATUS = COALESCE(#{loyaltyStatus}, X_LOYALTY_STATUS) 
            , X_SEG_LIFE_CYCLE = COALESCE(#{lifeCycle}, X_SEG_LIFE_CYCLE) 
            , attrib_50 = COALESCE(#{influentialPerson}, attrib_50) 
            , ATTRIB_45 = COALESCE(#{registrySource}, ATTRIB_45) 
            , X_SEG_VALUE = COALESCE(#{loyaltyValue}, X_SEG_VALUE) 
            , ATTRIB_34 =  COALESCE(#{occupation}, ATTRIB_34) 
            , last_upd = 'SFDC'
            , last_upd_by = now()
        where
            row_id = #{externalId}
    </update>

    <update id="updateDpOrgExt" parameterType="AccountReverseDto">
        update process."S_ORG_EXT" set 
            X_NICKNAME = COALESCE(#{nickname}, X_NICKNAME) 
            , ORI_CD = COALESCE(#{accountCategory}, ORI_CD) 
            , X_CONTRACTED_SINCE = COALESCE(#{contractRenewalDate}::timestamp, X_CONTRACTED_SINCE) 
            , SOURCE_CD = COALESCE(#{registrySource}, SOURCE_CD) 
            , MAIN_PH_NUM = COALESCE(#{phone}, MAIN_PH_NUM) 
            , MAIN_FAX_PH_NUM = COALESCE(#{fax}, MAIN_FAX_PH_NUM) 
            , MAIN_EMAIL_ADDR = COALESCE(#{emailAddress}, MAIN_EMAIL_ADDR) 
            , URL = COALESCE(#{website}, URL) 
            , X_REASON_STATUS = COALESCE(#{situationStatusReason}, X_REASON_STATUS) 
            , OU_NUM = COALESCE(#{dealerCode}, OU_NUM) 
            , REGION = COALESCE(#{region}, REGION) 
            , ACCNT_TYPE_CD = COALESCE(#{type}, ACCNT_TYPE_CD) 
            , PRTNRSHP_START_DT = COALESCE(#{operationDate}, PRTNRSHP_START_DT) 
            , X_WHATSAPP_PH_NUM = COALESCE(#{whatsappPhone}, X_WHATSAPP_PH_NUM) 
            , CUST_STAT_CD = COALESCE(#{situationStatus}, CUST_STAT_CD) 
            , X_SALES_REP = COALESCE(#{fleetAdministrator}, X_SALES_REP) 
            , DESC_TEXT = COALESCE(#{description}, DESC_TEXT) 
            , last_upd = 'SFDC'
            , last_upd_by = now()
        where
            row_id = #{externalId}
    </update>

    <insert id="insertMergeAccount" parameterType="AccountReverseDto">
        insert into process.account_merged(
            row_id
            , external_id__c
            , corporateregistrationnumber__c
            , "name"
            , corporaterepresentativename__c
            , ori_cd__c
            , x_contracted_since__c
            , registrysource__c
            , phone
            , fax
            , emailaddress
            , website
            , situationstatusreason__c
            , dealercode__c
            , region__c
            , "type"
            , prtnrshp_start_dt__c
            , prtnrshp_end_dt__c
            , fleet__c
            , industry
            , numberofemployees
            , x_tot_flt_size__c
            , businesstype__c
            , dealershoptype__c
            , personemail
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , x_dlr_srvc_type__c
            , attrib_14__c
            , billingstreet
            , billingstreet_2__c
            , billingstreet_3__c
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , x_sales_rep__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , personassistantphone
            , cust_stat_cd__c
            , firstname
            , lastname
            , personhomephone
            , companyphone__pc
            , personmobilephone
            , occupation__pc
            , gender__pc
            , personbirthdate
            , preferredcontactchannel__c
            , maritalstatus__pc
            , calloptyn__pc
            , directmailoptyn__pc
            , emailoptyn__pc
            , smsoptyn__pc
            , emailaddress__c
            , addr_landing_id
            , fleettype__c
            , sanitized__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , pcd__c
            , employee__c
            , favoritedealer__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , blockedwhatsapp__c
            , loyaltystatus__c
            , countrycode__c
            , prtnrflag__c
            , addrssname__c
            , position__c
            , org_par_row_id
            , s_con_par_row_id
            , partnertype__c
            , neighborhood
            , crmindex__c
            , engagement__c
            , optinflag__c
            , satificationlevel__c
            , cpf__c
            , x_printed_card__c
            , department
            , x_emp_area__c
            , escalation_flg
            , integrationid
            , pr_con_id
            , blockedsms__c
            , amount_friends
            , amount_children
            , loyaltyexpirationtodate__c
            , loyaltyengagementindex__c
            , satisficationlevel__c
            , loyaltylifecycle__c
            , numeric_row_id
            , dealergroupcode__c
            , salesgroup__c
            , salesmanager__c
            , servicemanager__c
            , servicewhatsappnumber__c
            , saleswhatsappnumber__c
            , salesdistrict__c
            , salesoffice__c
            , division__c
            , age__c
            , hkmeretaildate
            , billingcounty
            , legacy_created
            , legacy_created_by
            , legacy_last_upd
            , legacy_last_upd_by
            , inter_flag
            , reclame_aqui_id__c
            , offergroup__c
            , blockedvideocall__pc
            , blockedemails__c
            , apppushoptyn__pc
            , lastsmsoptynmodifydate__pc
            , personmailingcountry
            , personlastcurequestdate
            , schedulingphonenumber__c
            , middlename
            , legacycreateddate__pc
            , lastupdatedate__pc
            , blockedsms__pc
            , ownedvehiclemileage__c
            , personmailingcity
            , blockedmobile__pc
            , accparentaccount__c
            , goodfriendcustomeryn__pc
            , personmailinggeocodeaccuracy
            , personpronouns
            , personmailinglatitude
            , external_id__pc
            , salesmarketingyn__pc
            , cppd__c
            , workcontact__pc
            , sapworkaddress__c
            , optinoutnotificationdate__pc
            , blockedletters__c
            , customergroup__c
            , personemailbounceddate
            , persontitle
            , majorlanguage__pc
            , personhasoptedoutofemail
            , fleetadministrator__c
            , personhasoptedoutoffax
            , sfdcuseryn__pc
            , parentid
            , expirationdate__c
            , lastmessengeroptynmodifydate__pc
            , personothercity
            , personcontactid
            , recordtypeid
            , cnh__c
            , totalpurchaseamount__c
            , workphone__c
            , phoneusabilityyn__pc
            , dealergroupcode__pc
            , persondepartment
            , vehiclehandovercountinlast10years__c
            , ccpdmodifydate__c
            , personotherlatitude
            , ccpd__pc
            , site
            , dealershopcode__c
            , hyundaicustomeryn__pc
            , accountsource
            , receiveserviceoffersflag__pc
            , messengeroptyn__pc
            , optinexpirationdate__pc
            , vehicleofinterestcode__c
            , legacylastmodifieddate__pc
            , cnhexpirationdate__c
            , subsidiarycode__c
            , managingemployeeworkyn__pc
            , userflag__pc
            , createdsystem__pc
            , employeenumber__pc
            , pccmodifydate__c
            , ceoname__c
            , createdsystem__c
            , cpf__pc
            , personleadsource
            , lastdirectmailoptynmodifydate__pc
            , lastoptinoutdate__pc
            , subsidiarycode__pc
            , legacylastmodifieddate__c
            , lastmodifieddate
            , managingemployeename__pc
            , masterrecordid
            , operationdate__c
            , currentvehicleownedothers__c
            , personmailingpostalcode
            , ispersonaccount
            , ccpdmodifydate__pc
            , contractrenewaldate__c
            , nationality__pc
            , ccpd__c
            , lastcalloptynmodifydate__pc
            , isdeleted
            , repurchase__c
            , systemmodstamp
            , vehicleretentionperiod__c
            , expirationdate__pc
            , currentvehicleowned__c
            , persondonotcall
            , blockedwhatsapp__pc
            , nps__c
            , recommendedvehicle__c
            , majorlanguage__c
            , membershipid__c
            , personotherpostalcode
            , lastactivitydate
            , personotherphone
            , companyofficerstatusyn__pc
            , pcc__c
            , accountnumbertype__c
            , situationstatus__c
            , cppd__pc
            , personassistantname
            , personlastcuupdatedate
            , persongenderidentity
            , blockedletters__pc
            , personotherlongitude
            , fleetsize__c
            , accountno__c
            , nickname__c
            , hpremiumcustomeryn__pc
            , integratedid__c
            , blockedvideocall__c
            , personotherstate
            , blockedemails__pc
            , lastupdatedate__c
            , organizationtype__c
            , legacycreateddate__c
            , createddate
            , accountnumber
            , isleadconverted__c
            , ismigandinterfaceprocess__c
            , preferredcontactchannel__pc
            , collectingchanneltype__pc
            , familysize__pc
            , membershipmarketingyn__pc
            , salutation
            , accountcategory__c
            , emailusabilityyn__pc
            , influentialperson__c
            , loyaltyvalue__c
            , customersap__c
            , process_account_type
            , header_apikey
            , sfid
            , masterid
        )select
            row_id
            , external_id__c
            , corporateregistrationnumber__c
            , "name"
            , corporaterepresentativename__c
            , ori_cd__c
            , x_contracted_since__c
            , registrysource__c
            , phone
            , fax
            , emailaddress
            , website
            , situationstatusreason__c
            , dealercode__c
            , region__c
            , "type"
            , prtnrshp_start_dt__c
            , prtnrshp_end_dt__c
            , fleet__c
            , industry
            , numberofemployees
            , x_tot_flt_size__c
            , businesstype__c
            , dealershoptype__c
            , personemail
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , x_dlr_srvc_type__c
            , attrib_14__c
            , billingstreet
            , billingstreet_2__c
            , billingstreet_3__c
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , x_sales_rep__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , personassistantphone
            , cust_stat_cd__c
            , firstname
            , lastname
            , personhomephone
            , companyphone__pc
            , personmobilephone
            , occupation__pc
            , gender__pc
            , personbirthdate
            , preferredcontactchannel__c
            , maritalstatus__pc
            , calloptyn__pc
            , directmailoptyn__pc
            , emailoptyn__pc
            , smsoptyn__pc
            , emailaddress__c
            , addr_landing_id
            , fleettype__c
            , sanitized__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , pcd__c
            , employee__c
            , favoritedealer__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , blockedwhatsapp__c
            , loyaltystatus__c
            , countrycode__c
            , prtnrflag__c
            , addrssname__c
            , position__c
            , org_par_row_id
            , s_con_par_row_id
            , partnertype__c
            , neighborhood
            , crmindex__c
            , engagement__c
            , optinflag__c
            , satificationlevel__c
            , cpf__c
            , x_printed_card__c
            , department
            , x_emp_area__c
            , escalation_flg
            , integrationid
            , pr_con_id
            , blockedsms__c
            , amount_friends
            , amount_children
            , loyaltyexpirationtodate__c
            , loyaltyengagementindex__c
            , satisficationlevel__c
            , loyaltylifecycle__c
            , numeric_row_id
            , dealergroupcode__c
            , salesgroup__c
            , salesmanager__c
            , servicemanager__c
            , servicewhatsappnumber__c
            , saleswhatsappnumber__c
            , salesdistrict__c
            , salesoffice__c
            , division__c
            , age__c
            , hkmeretaildate
            , billingcounty
            , legacy_created
            , legacy_created_by
            , legacy_last_upd
            , legacy_last_upd_by
            , inter_flag
            , reclame_aqui_id__c
            , offergroup__c
            , blockedvideocall__pc
            , blockedemails__c
            , apppushoptyn__pc
            , lastsmsoptynmodifydate__pc
            , personmailingcountry
            , personlastcurequestdate
            , schedulingphonenumber__c
            , middlename
            , legacycreateddate__pc
            , lastupdatedate__pc
            , blockedsms__pc
            , ownedvehiclemileage__c
            , personmailingcity
            , blockedmobile__pc
            , accparentaccount__c
            , goodfriendcustomeryn__pc
            , personmailinggeocodeaccuracy
            , personpronouns
            , personmailinglatitude
            , external_id__pc
            , salesmarketingyn__pc
            , cppd__c
            , workcontact__pc
            , sapworkaddress__c
            , optinoutnotificationdate__pc
            , blockedletters__c
            , customergroup__c
            , personemailbounceddate
            , persontitle
            , majorlanguage__pc
            , personhasoptedoutofemail
            , fleetadministrator__c
            , personhasoptedoutoffax
            , sfdcuseryn__pc
            , parentid
            , expirationdate__c
            , lastmessengeroptynmodifydate__pc
            , personothercity
            , personcontactid
            , recordtypeid
            , cnh__c
            , totalpurchaseamount__c
            , workphone__c
            , phoneusabilityyn__pc
            , dealergroupcode__pc
            , persondepartment
            , vehiclehandovercountinlast10years__c
            , ccpdmodifydate__c
            , personotherlatitude
            , ccpd__pc
            , site
            , dealershopcode__c
            , hyundaicustomeryn__pc
            , accountsource
            , receiveserviceoffersflag__pc
            , messengeroptyn__pc
            , optinexpirationdate__pc
            , vehicleofinterestcode__c
            , legacylastmodifieddate__pc
            , cnhexpirationdate__c
            , subsidiarycode__c
            , managingemployeeworkyn__pc
            , userflag__pc
            , createdsystem__pc
            , employeenumber__pc
            , pccmodifydate__c
            , ceoname__c
            , createdsystem__c
            , cpf__pc
            , personleadsource
            , lastdirectmailoptynmodifydate__pc
            , lastoptinoutdate__pc
            , subsidiarycode__pc
            , legacylastmodifieddate__c
            , lastmodifieddate
            , managingemployeename__pc
            , masterrecordid
            , operationdate__c
            , currentvehicleownedothers__c
            , personmailingpostalcode
            , ispersonaccount
            , ccpdmodifydate__pc
            , contractrenewaldate__c
            , nationality__pc
            , ccpd__c
            , lastcalloptynmodifydate__pc
            , isdeleted
            , repurchase__c
            , systemmodstamp
            , vehicleretentionperiod__c
            , expirationdate__pc
            , currentvehicleowned__c
            , persondonotcall
            , blockedwhatsapp__pc
            , nps__c
            , recommendedvehicle__c
            , majorlanguage__c
            , membershipid__c
            , personotherpostalcode
            , lastactivitydate
            , personotherphone
            , companyofficerstatusyn__pc
            , pcc__c
            , accountnumbertype__c
            , situationstatus__c
            , cppd__pc
            , personassistantname
            , personlastcuupdatedate
            , persongenderidentity
            , blockedletters__pc
            , personotherlongitude
            , fleetsize__c
            , accountno__c
            , nickname__c
            , hpremiumcustomeryn__pc
            , integratedid__c
            , blockedvideocall__c
            , personotherstate
            , blockedemails__pc
            , lastupdatedate__c
            , organizationtype__c
            , legacycreateddate__c
            , createddate
            , accountnumber
            , isleadconverted__c
            , ismigandinterfaceprocess__c
            , preferredcontactchannel__pc
            , collectingchanneltype__pc
            , familysize__pc
            , membershipmarketingyn__pc
            , salutation
            , accountcategory__c
            , emailusabilityyn__pc
            , influentialperson__c
            , loyaltyvalue__c
            , customersap__c
            , process_account_type
            , header_apikey
            , sfid
            , #{mstExternalId}
        from
            process.account
        where
            row_id = #{childExternalId};
    </insert>

    <delete id="deleteChildAccount" parameterType="AccountReverseDto">
        delete from 
            process.account
        where
            row_id = #{childExternalId};
    </delete>
</mapper>
