<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.AccountReverseMapper">


    <insert id="insertAccount" parameterType="AccountReverseDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into process.account
		(
			billingstreet
            , billingstreet_2__c
            , billingstreet_3__c
            , neighborhood
            , billingcountry
            , billingcity
            , billingstate
            , billingpostalcode
            , billinglatitude
            , billinglongitude
            , "type"
            , firstname
            , lastname
            , personemail
            , personhomephone
            , companyphone__pc
            , workphone__c
            , personmobilephone
            , gender__pc
            , pcd__c
            , income__c
            , productofinterest__c
            , literacy__c
            , calledby__c
            , employee__c
            , favoritedealer__c
            , dealercode__c
            , crmindex__c
            , engagement__c
            , optinflag__c
            , satificationlevel__c
            , loyaltyexpirationdate__c
            , loyaltyactivationdate__c
            , loyaltystatus__c
            , cpf__c
            , receiveproductnewsflag__c
            , receiveretailoffersflag__c
            , receiveserviceoffersflag__c
            , receivenewsletterflag__c
            , receiveeventsflag__c
            , receiveresearchflag__c
            , blockedmobile__c
            , x_printed_card__c
            , blockedvideocall__c
            , preferredcontactchannel__c
            , calloptyn__pc
            , directmailoptyn__pc
            , blockedletters__c
            , emailoptyn__pc
            , blockedemails__pc
            , blockedsms__c
            , blockedwhatsapp__c
            , loyaltyengagementindex__c
            , loyaltylifecycle__c
            , salutation
            , personbirthdate
            , influentialperson__c
            , registrysource__c
            , loyaltyvalue__c
            , occupation__pc
            , corporateregistrationnumber__c
            , "name"
            , corporaterepresentativename__c
            , ori_cd__c
            , x_contracted_since__c
            , phone
            , fax
            , emailaddress__c
            , website
            , situationstatusreason__c
            , region__c
            , businesstype__c
            , industry
            , x_tot_flt_size__c
            , fleettype__c
            , dealershoptype__c
            , salesflag__c
            , serviceflag__c
            , businesshours__c
            , facebook__c
            , x_sales_rep__c
            , description
            , leadmanager__c
            , dms__c
            , apikey__c
            , whatsappphone__c
            , cust_stat_cd__c
            , partnertype__c
            , numberofemployees
            , prtnrshp_start_dt__c
            , prtnrshp_end_dt__c
            , customersap__c
            , legacy_created
            , integrationid
            , recordtypeid
            , sfid
            , process_account_type
		)values(
            COALESCE(#{personMailingStreet}, #{billingStreet}) 
            , #{houseBuildingNo}
            , #{complement}
            , #{neighborhood}
            , #{billingCountry}
            , COALESCE(#{personMailingCity}, #{billingCity})
            , COALESCE(#{personMailingState}, #{billingState})
            , COALESCE(#{personMailingPostalCode}, #{billingPostalCode})
            , COALESCE(#{personMailingLatitude}::float8, #{billingLatitude}::float8)
            , COALESCE(#{personMailingLongitude}::float8, #{billingLongitude}::float8)
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , #{pcd}
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , #{employee}
            , #{dealerCode}
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , #{optInFlag}
            , #{satisficationLevel}
            , #{cnhexpirationDate}::timestamp
            , #{loyaltyActivationDate}::timestamp
            , #{loyaltyStatus}
            , #{cpf}
            , #{receiveProductNewsFlag}::bool
            , #{receiveRetailOffersFlag}::bool
            , #{receiveServiceOffersFlag}::bool
            , #{receiveNewsLetterFlag}::bool
            , #{receiveEventsFlag}::bool
            , #{receiveResearchFlag}::bool
            , #{blockedMobile}
            , #{blockedVideoCall}
            , #{blockedVideoCall}
            , #{preferredContactChannel}
            , #{blockedCalls}
            , #{blockedletters}
            , #{blockedletters}
            , #{blockedEmails}
            , #{blockedEmails}
            , #{blockedSms}
            , #{blockedWhatsapp}
            , #{engagementIndex}
            , #{lifeCycle}
            , #{salutation}
            , #{personBirthdate}
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , #{cnpj}
            , #{name}
            , #{nickname}
            , #{accountCategory}
            , #{contractRenewalDate}
            , #{phone}
            , #{fax}
            , #{emailAddress}
            , #{website}
            , #{situationStatusReason}
            , #{region}
            , #{businessType}
            , #{industry}
            , #{fleetSize}
            , #{organizationType}
            , #{dealershopType}
            , #{salesFlag}
            , #{serviceFlag}
            , #{businessHours}
            , #{facebook}
            , #{fleetAdministrator}
            , #{description}
            , #{leadManager}
            , #{dms}
            , #{apikey}
            , #{whatsappPhone}
            , #{situationStatus}
            , #{partnerType}
            , #{numberOfEmployees}
            , #{operationDate}
            , #{terminationDate}
            , #{customerSap}
            , #{legacyCreatedDate}::timestamp
            , #{integratedId}
            , #{recordTypeId}
            , #{sfId}
            , #{processAccountType}
        )
    </insert>

    <insert id="insertDpContact" parameterType="AccountReverseDto">
        insert into process."S_CONTACT"
        (
            row_id
            , con_cd
            , fst_name
            , last_name
            , email_addr
            , home_ph_num
            , work_ph_num
            , cell_ph_num
            , sex_mf
            , x_pne_flg
            , x_cpf
            , X_OPTIN_PRODUCT_FLG
            , X_OPTIN_RETAIL_FLG
            , X_OPTIN_OFFER_FLG
            , X_OPTIN_NEWS_FLG
            , X_OPTIN_EVENTS_FLG
            , X_OPTIN_RESEARCH_FLG
            , X_OPTIN_PHONE
            , X_SUP_GONE_AWAY
            , PREF_COMM_METH_CD
            , MARITAL_STAT_CD
            , SUPPRESS_CALL_FLG
            , SUPPRESS_MAIL_FLG
            , SUPPRESS_EMAIL_FLG
            , X_PRINTED_CARD
            , PER_TITLE
            , BIRTH_DT
            , created
            , created_by
            , last_upd
            , last_upd_by
        )
        values(
            #{rowId}
            , #{type}
            , #{firstName}
            , #{lastName}
            , #{personEmail}
            , #{personHomePhone}
            , #{workPhone}
            , #{personMobilePhone}
            , #{genderPC}
            , #{pcd}
            , #{cpf}
            , #{receiveProductNewsFlag}
            , #{receiveRetailOffersFlag}
            , #{receiveServiceOffersFlag}
            , #{receiveNewsLetterFlag}
            , #{receiveEventsFlag}
            , #{receiveResearchFlag}
            , #{blockedMobile}
            , #{blockedVideoCall}
            , #{preferredContactChannel}
            , #{maritalStatus}
            , #{blockedCalls}
            , #{blockedletters}
            , #{blockedEmails}
            , #{blockedWhatsapp}
            , #{salutation}
            , #{personBirthdate}
            , now()
            , 'SFDC'
            , now()
            , 'SFDC' 
        )
    </insert>

    <insert id="insertDpContactSub" parameterType="AccountReverseDto">
        insert into process."S_CONTACT_X"
        (
            row_id
            , par_row_id
            , ATTRIB_36
            , ATTRIB_49
            , X_LITERACY
            , X_CALLED_BY
            , X_EMPLOYEE_FLG
            , X_FAVORITE_DEALER
            , x_loyalty_crm_index
            , x_loyalty_engagement
            , x_loyalty_optin_flg
            , x_loyalty_satisfaction
            , X_CNH_EXP_DATE
            , X_LOYALTY_ACT_DT
            , X_LOYALTY_STATUS
            , X_SEG_LIFE_CYCLE
            , attrib_50
            , ATTRIB_45
            , X_SEG_VALUE
            , ATTRIB_34
            , created
            , created_by
            , last_upd
            , last_upd_by
        )values(
            #{rowId}
            , #{rowId}
            , #{income}
            , #{productOfInterest}
            , #{literacy}
            , #{calledBy}
            , #{employee}
            , #{dealerCode}
            , #{crmIndex}
            , #{engagementIndex}
            , #{optInFlag}
            , #{satisficationLevel}
            , #{cnhexpirationDate}
            , #{loyaltyActivationDate}
            , #{loyaltyStatus}
            , #{lifeCycle}
            , #{influentialPerson}
            , #{registrySource}
            , #{loyaltyValue}
            , #{occupation}
            , now()
            , 'SFDC'
            , now()
            , 'SFDC'
        )
    </insert>
</mapper>
