<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBZICARDCDPP0007Mapper">
    
    <select id="getAssetExistNum" parameterType="IFHMBZICARDCDPP0007Dto" resultType="Integer">    
        select 
            count(row_id)
        from 
            process.asset
        where 
            external_id__c = #{assetId}
    </select>

    <select id="getContactExistNum" parameterType="IFHMBZICARDCDPP0007Dto" resultType="Integer">
        select
            count(row_id)
        from
            process.account
        where
            external_id__c = #{contactId}
    </select>

    <select id="getAssetConNum" parameterType="IFHMBZICARDCDPP0007Dto" resultType="Integer">
        select
            count(row_id)
        from
            landing.s_asset_con 
        where
            asset_id = #{assetId}
        and
            contact_id = #{contactId}
    </select>

    <insert id="insertObject" parameterType="IFHMBZICARDCDPP0007Dto"  useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.s_asset_con 
            (
                asset_id
                , contact_id
                , relation_type_cd
                , attrib_26
                , created
                , created_by
                , last_upd
                , last_upd_by
            )
        values 
            (
                #{assetId}
                , #{contactId}
                , #{relationShip}
                , to_date(#{hkmeRetailDate}, 'YYYY-MM-DD')
                , now()
                , 'interface'
                , now()
                , 'interface'
            );
    </insert>

    <update id="updateObject" parameterType="IFHMBZICARDCDPP0007Dto">
        update landing.s_asset_con
        set 
        relation_type_cd = #{relationShip}
        , attrib_26 = to_date(#{hkmeRetailDate}, 'YYYY-MM-DD')
        where
        asset_id = #{assetId}
        and
        contact_id = #{contactId}
    </update>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.hmb_asset_contact_upsert_webservice_ws(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{checkcu,jdbcType=VARCHAR,mode=IN});
    </insert>

</mapper>
