<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBBLUELINKCDPP0053Mapper">

    <insert id="inserBluelink" parameterType="BluelinkDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.if_auto_vehicle_bluelink_ws(
            chassi
            , latestmileage
            , integrationId
            , created
            , created_by
            , last_upd
            , last_upd_by
            , activationDate
            , firstActivation
            , type
        )values(                 
            #{setChassi}
            , #{setLatestMileage}::float8
            , #{integrationId}
            , now()
            , 'interface'
            , now()
            , 'interface'
            , #{activationDate}
            , #{firstActivation}
            , #{type}
        )
    </insert>
    
    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.if_auto_vehicle_bl_ws(#{param_id});
    </insert>

    <select id="getProcessRowIds" parameterType="list" resultType="string">
        select
            pbc.row_id
        from
            landing.if_auto_vehicle_bluelink_ws libl
        join
            process.bluelink pbc 
        on
            libl.chassi = pbc.chassi__c 
        and
            libl."type" = pbc.type__c
        where
            libl.row_id in
            <foreach collection="paramList" item="item" index="index" open="(" close=")" separator=",">
                CAST(#{item} AS INTEGER)
            </foreach>
    </select>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call replica.if_auto_vehicle_bl_ws(#{param_id});
    </insert>
    
</mapper>
