<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0001Mapper">
    
    <select id="getObject" parameterType="IFHMBINNOCEANCDPP0001Dto" resultType="IFHMBINNOCEANCDPP0001Dto">
        select 
            cpf__c as cpf
            , row_id as contactId
            , coalesce(firstname, '')||lastname as name
            , personmobilephone as personCell
        from 
            process.account
        where
            personmobilephone = #{phoneNumber}
        <if test="cpf != null and cpf != ''">
            and
                cpf__c = #{cpf}
        </if>    
    </select>
</mapper>
