<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBSELFBICDPP0063Mapper">
    
    <select id="getAsset" parameterType="IFHMBSELFBICDPP0063Dto" resultType="VehicleDto">
        select 
            pa.serialnumber as chassi
            , pa.billing_date__c as salesDate
            , pa.dealercode__c as salesDealerCode
            , (select corporaterepresentativename__c from process.account where external_id__c = pa.dealercode__c) as salesDealerNick
            , pa.oper_status_cd__c as salesCode
            , pa.description__c as saleVersion
            , pa.fsc__c as salesFSCOCN
            , pa.enginetype__c as salesMotor
            , pa.modelname__c as vinModel
            , pa.vehiclecolor__c as vinColor
            , pa.legacy_last_upd as updated
            , pa.x_del_home__c as delHome
            , pa.x_dig_sales__c as digitalSales
            , pa.x_td_home__c as tdHome
            , pa.x_sales_cancel_dt__c as salesCancelled
            , pa.external_id__c as assetId
        from
            process.asset pa
        where
            <choose>
                <when test='createdOption == "Y"'>
                    pa.legacy_created = to_date(#{dateInput}, 'YYYY-MM-DD')
                </when>
                <otherwise>
                    pa.billing_date__c = to_date(#{dateInput}, 'YYYY-MM-DD')
                </otherwise>
            </choose>
            <choose>
                <when test='seq == "2"'>
                and    
                    pa.oper_status_cd__c != 'ZV02'
                </when>
                <when test='seq == "3"'>
                and
                    pa.oper_status_cd__c = 'ZV02'
                </when>
                <otherwise>

                </otherwise>
            </choose>
        <if test="vin != null and vin != ''">
            and
                pa.serialnumber = #{vin}
        </if>    
    </select>

    <select id="getContact"  parameterType="String" resultType="ContactGetVinDto">
        select
            pa.row_id as idSiebel
            , ac.relation_type_cd as relatedType
            , ac.status_cd as relatedStatus
            , pa.calloptyn__pc as suppressAllCalls
            , pa.emailoptyn__pc as suppressAllEmails
            , pa.directmailoptyn__pc as suppressAllMailings
            , pa.blockedmobile__c as suppressAllMobilePhone
            , pa.blockedsms__c as suppressAllSMS
            , pa.x_printed_card__c as suppressAllVideoCall
            , pa.blockedwhatsapp__c as suppressAllWhatsapp
        from
            process.account pa
        join
            process.asset_con ac 
        on
            pa.external_id__c = ac.contact_id 
        where 
            ac.asset_id = #{assetGetRowId}
    </select>

    <select id="getAccount"  parameterType="String" resultType="AccountGetVinDto">
        select
            pa.row_id as idSiebel
            , aa.rel_type_cd as relatedType
            , aa.status_cd as relatedStatus
        from
            process.account pa
        join
            process.asset_accnt aa 
        on
            pa.external_id__c = aa.accnt_id
        where
            aa.asset_id = #{assetGetRowId}
    </select>
</mapper>
