<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0033Mapper">
    
    <select id="getAsset" parameterType="IFHMBINNOCEANCDPP0033Dto" resultType="HMBVehicle">
        
    </select>
</mapper>
