<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0037Mapper">
    
    <update id="updateContact" parameterType="IFHMBINNOCEANCDPP0037Dto">
        update 
            landing.S_CONTACT 
        set
            SUPPRESS_EMAIL_FLG = #{suppressAllEmails}
            <!--, SUPPRESS_SMS_FLG = #{suppressAllSMS}-->
            , X_PRINTED_CARD = #{printedCard}
            , last_upd = now()
            , last_upd_by = 'interface'
        where 
            ROW_ID = #{contactId}
    </update>

    <update id="updateContactx" parameterType="IFHMBINNOCEANCDPP0037Dto">
        update 
            landing.S_CONTACT_X 
        set
            X_CNH_EXP_DATE = to_date(#{cnheXpirationDate},'YYYY-MM-DD')
        where 
            par_row_id = #{contactId}
    </update>

    <update id="updateContactHobby" parameterType="IFHMBINNOCEANCDPP0037Dto">
        <foreach collection="listOfContactHobby" item="item" separator=";">
            update 
                landing.s_contact_xm 
            set
                last_upd = now()
                , last_upd_by = 'interface'
                , name = #{item.hobbyDescription}
            where
                par_row_id = #{item.hobbyContactId}
            and
                type = 'Hobby'
        </foreach>
    </update>

    <update id="updateSoccerTeam" parameterType="IFHMBINNOCEANCDPP0037Dto">
        <foreach collection="listOfContactSoccerTeam" item="item" separator=";">
            update 
                landing.s_contact_xm 
            set
                last_upd = now()
                , last_upd_by = 'interface'
                , name = #{item.soccerTeam}
            where
                par_row_id = #{item.SoccerTeamContactId}
            and
                type = 'Soccer Team'
        </foreach>
    </update>

    <update id="updateContactSocialMedia" parameterType="IFHMBINNOCEANCDPP0037Dto">
        <foreach collection="listOfContactSocialMedia" item="item" separator=";">
            update 
                landing.s_contact_xm 
            set
                last_upd = now()
                , last_upd_by = 'interface'
                , name = #{item.socialMediaName}
                , X_SOC_MED_USER = #{item.socialMediaUser}
                , X_SOURCE_CITY = #{item.sourceCity}
            where
                par_row_id = #{item.socialMediaContactId}
            and
                type = 'Social Media'
        </foreach>
    </update>

    <select id="getUpdateContactOutput" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.UpdateContactOutput">
        select
            scx.X_CNH_EXP_DATE as cnheXpirationDate
            , sc.FST_NAME as firstName
            , sc.LAST_NAME as lastName
            , sc.BIRTH_DT as BirthDate
            , sc.SEX_MF as gender
            , sc.HOME_PH_NUM as homePhone
            , sc.WORK_PH_NUM as workPhone
            , sc.CELL_PH_NUM as cellPhone
            , sc.EMAIL_ADDR as emailAddress
            , sc.SUPPRESS_EMAIL_FLG as suppressAllEmails
            <!--, sc.SUPPRESS_SMS_FLG as suppressAllSMS-->
            , sc.X_PRINTED_CARD as printedCard
            , scx.X_CNH_EXP_DATE as cnheXpirationDate
            , scx.X_AMOUNT_FRIENDS as amountFriends
            , scx.X_AMOUNT_CHILDREN as amountChildren
            , scx.X_LOYALTY_OPTIN_FLG as loyaltyOPTINFla
            , sap.ADDR as streetAddress
            , sap.ADDR_LINE_2 as streetAddress2
            , sap.ADDR_LINE_3 as streetAddress3
            , sap.COUNTY as county
            , sap.CITY as city
            , sap.STATE as state
            , sap.ZIPCODE as postalCode
        from 
            landing.S_CONTACT sc
        left join
            landing.S_CONTACT_X scx
        on
            sc.row_id = scx.par_row_id 
        left join 
            landing.s_addr_per sap 
        on
            sc.pr_per_addr_id = sap.row_id 
        where
            sc.row_id = #{contactId}
    </select>

    <select id="getListHobby" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactHobby">
        select 
            NAME as hobbyDescription
        from 
            landing.s_contact_xm scx 
        where 
            scx.par_row_id = #{contactId}
        and
            scx.type = 'Hobby'
    </select>

    <select id="getListSoccerTeam" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactSoccerTeam">
        select 
            NAME as soccerTeam
        from 
            landing.s_contact_xm scx 
        where 
            scx.par_row_id = #{contactId}
        and
            scx.type = 'Soccer Team'
    </select>

    <select id="getListSocialMedia" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactSocialMedia">
        select 
            NAME as soccerTeam
            , X_SOC_MED_USER as socialMediaUser
            , X_SOURCE_CITY as sourceCity
        from 
            landing.s_contact_xm scx 
        where 
            scx.par_row_id = #{contactId}
        and
            scx.type = 'Social Media'
    </select>
</mapper>
