<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBCSUCDPP0087Mapper">
    
    <select id="getContactList" parameterType="IFHMBCSUCDPP0087Dto" resultType="SearchContactOutputDto">
        select 
            pac.loyaltyexpirationdate__c as cnhExpirationDate
            , pac.row_id as contactId
            , pac.firstname as firstName
            , pac.lastname  as lastName
            , pac.personbirthdate as birthDate
            , pac.gender__pc as gender
            , pac.personhomephone as homePhone
            , pac.companyphone__pc as workPhone
            , pac.personmobilephone as cellPhone
            , pac.personemail as emailAddress
            , pac.amount_friends as amountFriends
            , pac.amount_children as amountChildren
            , case when pac.optinflag__c = true then 'Y' else 'N' end as loyaltyOPTINFla
            , pac.loyaltyactivationdate__c as loyaltyActivationDate
            , pac.loyaltyexpirationtodate__c as loyaltyExpirationDate
            , pac.loyaltyengagementindex__c as loyaltyEngagementIndex
            , pac.satisficationlevel__c as loyaltySatisfactionLevel
            , pac.loyaltylifecycle__c as loyaltyLifeCycle
            , pac.crmindex__c as loyaltyCRMIndex
            , pac.satisficationlevel__c as loyaltyTierLevel
            , pac.loyaltystatus__c as loyaltyStatus
            , pac.billingstreet as streetAddress
            , pac.billingstreet_2__c as streetAddress2
            , pac.billingstreet_3__c as streetAddress3
            , pac.billingcountry as county
            , pac.billingcity as city
            , pac.billingstate as state
            , pac.billingpostalcode as postalCode
            , pac.numeric_row_id as numericRowId
            , case when pac.emailoptyn__pc = true then 'Y' else 'N' end suppressAllEmails
            , case when pac.calloptyn__pc = true then 'Y' else 'N' end SuppressAllCalls
            , case when pac.directmailoptyn__pc = true then 'Y' else 'N' end SuppressAllMailings
            , case when pac.x_printed_card__c = true then 'Y' else 'N' end SuppressAllVideoCall
            , case when pac.blockedwhatsapp__c = true then 'Y' else 'N' end SuppressAllWhatsapp
            , case when pac.blockedmobile__c = true then 'Y' else 'N' end SuppressAllMobile
            , case when pac.blockedsms__c = true then 'Y' else 'N' end suppressAllSMS
            , case when pac.x_printed_card__c = true then 'Y' else 'N' end printedCard
        from
            process.account pac 
        where 
            1=1
        <if test="contactId != null and contactId != ''">   
            and
                pac.row_id = #{contactId}
        </if>
        <if test="cpf != null and cpf != ''">       
            and
                pac.cpf__c = #{cpf}
        </if>
    </select>

    <select id="getVehicleList" parameterType="IFHMBCSUCDPP0087Dto" resultType="SearchAutoVehicleDto">
        select
            pas.row_id as vehicleId
            , pcvp.relation_type_cd as relationship
            , pas.renavam_code__c as hmbRenavamCode
            , pas.latestmileage__c as currenMileage
            , pas.carregistrationnumber__c as vehicleLicenseNumber
            , pas.serialnumber as serialNumber
            , pas.name as fscOcn
            , pas.manufacturedate as manufactureYear
            , pas.modelname__c as model
            , pas.modelyear__c as modelYear
            , pas.vehicleinternalcolor__c as internalColorCode
            , pas.vehiclecolor__c as externalColorCode
            , pas.hexawarrantyflag__c as hexaWarrantyFlag
            , pas.account_row_id__c as dealerId
            , pcvp.retail_date as retailDt
            , (select corporaterepresentativename__c from process.account where row_id = account_row_id__c) as salesRepId
            , pas.salesreplastname  as salesRepLastName
            , pas.salesreplastname  as salesReFirstName
            , pci.val as operatingStatus
        from
            process.asset pas         
        join
            process.customer_vehicle pcvp
        on
            pas.row_id = pcvp.asset_id and pcvp.cv_type = 'Person'
        join
        	process.account pac
        on 
        	pcvp.account_id = pac.row_id
        left join 
            process.color_information pci
        on
            pci.name_code = pas.oper_status_cd__c and pci.type = 'OPERATING_STATUS' and pci.lang_id__c = 'PTB'
        where       
            pac.cpf__c = #{cpf}
        <!-- <if test="serialNumber != null and !serialNumber.equals('') and interfaces == '2'"> -->
        <!-- <if test="interfaces.equals('2')"> -->
        <if test="serialNumber != null and serialNumber != ''">
            and 
                pas.serialnumber = #{serialNumber}
            and
                pcvp.status_cd = 'Active'
        </if>     
    </select>

    <select id="getCampaignList" parameterType="IFHMBCSUCDPP0087Dto" resultType="SearchCampaignDto">
        select 
            pcp.row_id as campaignId
            , pcp.type__c as type
            , pcp.name as campaignName
        from
            process.campaign pcp
        where 
            pcp.name = #{campaignName}
    </select>

    <select id="getCSISurveyList" parameterType="IFHMBCSUCDPP0087Dto" resultType="SearchCSISurveyDto">
        select
        pam.integration_id as integrationId
        , pam.asset_id as assetId
        , pas.serialnumber
        , (select dealercode__c from process.account where row_id = pam.dealer_id) as dealerCustomerSap
        , pam.research_date as date
        , pam.status as status
        , pam.research_name as description
        , pam.sra_sr_id as spId
        , psr.protocol__c as srNumber
        from 
            process.amaro pam
        left join
            process.asset pas
        on
            pam.asset_id = pas.row_id 
        left join 
            process.service_request psr 
        on
            pam.sra_sr_id = psr.row_id 
        where 
            pas.serialnumber = #{serialNumber}
    </select>

    <select id="getServiceRequestList" parameterType="IFHMBCSUCDPP0087Dto" resultType="SearchServiceRequestContactDto">
        select 
            legacycreateddate__c as srCreated
            , protocol__c as srNumber
            , dealercode__c as dealerCode
            , relatedmodel__c as modelCar
            , version__c as vehicleVersion
            , quote_color__c as vehicleColor
            , quotetransmission__c as engTrans
            , voc_class as area
        from
            process.service_request psr
        where
            contact_row_id__c = #{contactId}
    </select>
</mapper>
