<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBDMSCDPP0004Mapper">
    
    <select id="getLeadInfoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select 
                sr.contact_row_id__c as rowid
                , sr.protocol__c as protocol
                , sr.status as status
            from 
                process.service_request sr
            join
                process.opportunity po
            on
                sr.protocol__c = po.protocol__c
            join
                process.account pa
            on
                po.dealercode__c = pa.dealercode__c
            where
                po.qexperttransferreddate__c <![CDATA[ <= ]]> (now() - '5 minutes'::interval)
            and
                po."type" != 'Test Drive'
            and
            	po."type" != 'Showroom'
            <!--and
                po.transferredopportunity__c != true-->
            <if test="statusLead != null and statusLead != ''">
                and
                    sr.status = #{statusLead}
            </if>
            <if test="dealerCode != null and dealerCode != ''">
                and
                    pa.dealercode__c = #{dealerCode}
            </if>
            <if test="apiKey != null and apiKey != ''">
                and
                    pa.apikey__c = #{apiKey}
            </if>
            and
                po.qexperttransferreddate__c <![CDATA[ >= ]]> to_timestamp(#{date}||' 00:00:00','YYYY-MM-DD HH24:mi:SS')
            and
                po.qexperttransferreddate__c <![CDATA[ <= ]]> to_timestamp(#{date}||' 23:59:59', 'YYYY-MM-DD HH24:mi:SS')
    </select>

    <select id="getContactInfo" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadContactDto">
        select 
            pac.firstname as nome
            , pac.lastname as sobrenome
            , pac.gender__pc as genero
            , pac.personbirthdate as dataNascimento
            , pac.age__c as idade
            , pac.personmobilephone as telefone
            , pac.personemail as email
            , pac.cpf__c as cpf
            , pac.billingpostalcode as cep
            , pac.billingstreet as endereco
            , pac.row_id as idconnex
            <!--, psr.quote_replace_intention__c as dataPrevistaCarroNovo-->
        from 
            process.account pac
        where
            pac.row_id = #{rowId}
    </select>
    
    <select id="getVeiculoInfoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadVeiculo">
        select
            pac.modelname__c as modelo
            , pac.enginetype__c as motor
            , pac.latestmileage__c as transmissao
            , pac.x_license_plate__c as versao
            , pac.vehiclecolor__c as cor
            , pac.purchaseprice__c as preco
        from 
            process.asset pac 
        where 
            pac.contact_row_id__c = #{rowId}
    </select>

    <select id="getOpvInfo" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadOpvDto">
        select 
            sr.protocol__c as protocolo
            , sr.business_row_id as codigoConcessionaria
            , sr.origin as origem
            , sr.method as metodo
            , (sr.legacy_created - interval '3 hours') as dataAbertura
            , pc.firstname||' '||pc.lastname as nomeResponsavel
            , sr.status as status
            , 'high' as prioridade
            , pc.pcd__c as identificacaoPCD
            , pc.type as tipoContato
            , 'Y' as clienteHyundai
            , sr.usedcar_as_down_payment__c::varchar as usadoNaTroca
            , pc.corporaterepresentativename__c as nomeConcessionaria
            , pc.cust_stat_cd__c as statusConcessionaria
            , sr.method as metodoContato
            , sr.description as observacoesContato
            , sr.x_camp_id__c as dadosCampanha
            , sr.source_tag__c as sourceTag
            , sr.medium_tag__c as mediumTag
            , sr.content_tag__c as contentTag
            , sr.form__c as form
        from
            process.service_request sr
        join
            process.account pc
        on
            sr.business_row_id = pc.dealercode__c
        where 
            sr.protocol__c = #{protocol}
        <if test="apiKey != null and apiKey != ''">
            and
                pc.apikey__c = #{apiKey}
        </if>
        limit 1
    </select>

    <select id="getfinanciamentoOpv" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadFinanciamentoOPVDto">
        select 
            (case when wants_loan__c = true then 'Sim' when wants_loan__c = false then 'Não' when wants_loan__c isnull then 'Não Informado' end) as querFinanciar
            , loan_type__c as tipoFinanciamento
            , down_payment__c as valorEntradaFinanciamento
            , installments_amt__c as qtdParcelaFinanciamento
        from
            process.service_request sr
        where 
            sr.protocol__c = #{protocol}
        limit 1
    </select>

    <select id="getTemperatureList" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadTemperatureDto">
        select 
			'0' as temperatureNum
			, (case when predictive_temp__c = 'Q' then 'Hot' when predictive_temp__c = 'M' then 'Warm' when predictive_temp__c = 'Z' then 'Not Classified' when predictive_temp__c = 'X' then 'Not Available' when predictive_temp__c = 'F' then 'Cold' end) as temperature
		from
			process.opportunity
		where 
            protocol__c = #{protocol}
		union all
		select 
			temperaturenumber__c as temperatureNum 
			, (case when predictivetemp__c = 'Q' then 'Hot' when predictivetemp__c = 'M' then 'Warm' when predictivetemp__c = 'Z' then 'Not Classified' when predictivetemp__c = 'X' then 'Not Available' when predictivetemp__c = 'F' then 'Cold' end) as temperature
		FROM
			process.sales_consult_history
		where
            protocol__c = #{protocol}
		order by temperatureNum asc
    </select>
    
    <select id="getAgendamentoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadAgendamentoDto">
        select 
            sch.temperaturenumber__c as tipoAgendamento
            , sch.description_interaction__c as dataAgendamento
        from
            process.sales_consult_history sch 
        where
            protocol__c = #{protocol}
    </select>

    <select id="getResult" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadResultDto">
        select 
            interactionstartdate__c as firstInteractionDate
            , statussales__c as saleStatus
            , reason__c as reason
            , result__c as result
            , salespersoncode__c as saleCPF
            , dmsenddate__c as endDate
            , dmsreceivedate__c as dlrReceiveDate
            , dealerrespondetime__c as dlrResponseTime
        from 
            process.sales_consult_history
        where 
            protocol__c = #{protocol}
        order by interactionnumber__c desc
        limit 1
    </select>

    <select id="getInteractionList" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeadInteractionDto">
        select 
            interactionnumber__c as interactionNum
            , first_interaction_date__c as date
            , description_interaction__c as description
            , case when contact_flag__c = true then 'Y' else 'N' end as contactCustomer
        from
            process.sales_consult_history
        where
            protocol__c = #{protocol}
        order by interactionnumber__c asc
    </select>

    <select id="getVeiculoEntradaOPV" parameterType="IFHMBDMSCDPP0004Dto" resultType="GetLeaDveiculoEntradaOPVDto">
        select 
            usedcar_as_down_payment__c::varchar as usadoNaTroca
            , usedcar_brand__c as usadoMarca
            , usedcar_model__c as usadoModelo
            , usedcar_year__c as usadoAno
            , usedcar_km__c as usadoKM
            , usedcar_plate__c as usadoExpectativaValor
            , usedcar_color__c as usadoCor
            , payment_status__c as usadoPlaca
            , usedcar_chassi__c as usadoChassi
            , usedcar_version__c as usadoVersao
            , usedcar_min_price__c as usadoPrecoMin
            , usedcar_max_price__c as usadoPrecoMax
            , usedcar_mid_price__c as usadoPrecoMed
        from
            process.service_request
        where 
            protocol__c = #{protocol}
        limit 1
    </select>

    <select id="getQuexpertList" resultType="GetLeadQuExpertDto">

    </select>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.if_getlead_ws(#{param_id});
    </insert>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call replica.if_getlead_ws(#{param_id});
    </insert>
</mapper>
