<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0018Mapper">
    
    <select id="getList" parameterType="IFHMBINNOCEANCDPP0018Dto" resultType="IFHMBINNOCEANCDPP0018Dto">
        select 
            pd.protocol__c as protocolNum
            , sr.status as protocolStatus
            , pd.srvc_type as serviceType
            , (pd.srvc_arrival_date::timestamp)::varchar as serviceArrivaldate
            , (pd.srvc_start_date::timestamp)::varchar as serviceStartdate
            , pd.srvc_duration as serviceDuration
            , (pd.srvc_delivery_date::timestamp)::varchar as serviceDeliverydate
            , pd.srvc_status_cd as serviceStatus
            , a2.dealercode__c as dealerCode
            , a2.corporaterepresentativename__c as dealerName
            , pas.carregistrationnumber__c as vehiclePlate
            , pas.friendly_model__c  as vehicleModel
            , pas.modelyear__c as vehicleModelyear
            , pas.manufacturedate  as vehicleManufacyear
            , (select ci.val from process.color_information ci where ci.lang_id__c = 'ENU' and ci."type" = 'AUTO_EXTERIOR' and ci.name_code = pas.vehiclecolor__c) as vehicleExtcolor
            , pas.serialnumber as vehicleChassi
            , (select concat(a2.firstname || ' ' || a2.lastname ) from process.contact pc where row_id = pd.srvc_consultant_id) as consultantName
            , (select concat(pc.firstname || ' ' || pc.lastname ) from process.contact pc where row_id = pd.srvc_technician_id) as technicianName
        from 
            process.dealer_appointment_history pd
        join
            process.service_request sr 
        on
            pd.protocol__c = sr.protocol__c 
        join 
            process.account a1
        on
            a1.row_id = sr.contact_row_id__c
        join 
            process.account a2
        on
            a2.row_id = sr.account_row_id__c 
        join 
            process.asset pas
        on
            pas.contact_row_id__c = a1.row_id
        where 
            a1.cpf__c = #{cpf}
    </select>
    
</mapper>
