<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0032Mapper">
    
    <select id="getSearchContact" parameterType="IFHMBINNOCEANCDPP0032Dto" resultType="IFHMBINNOCEANCDPP0032Dto">
        select 
            c.row_id as contactId
            , c.firstname as firstName
            , c.lastname as lastName
            , c.cpf__c as cpf
            , c.gender__c as genre
            , c.birthdate as birthDate
            , c.mobilephone as cellularPhone
            , c.homephone as homePhone
            , c.email__c as emailAddress
            , c.companyphone__c as workPhone
            , c.external_id__c as rowId
            , c.x_printed_card__c as hmbPrintedCard
            , c.emailoptyn__c as suppressAllEmails
            , c.x_amount_friends__c as amountFriends
            , c.x_amount_children__c as amountChildren
            , c.x_cnh_exp_date__c as cnhexpirationDate
            , c.x_loyalty_act_dt__c as loyaltyActivationDate
            , c.x_loyalty_exp_dt__c as loyaltyExpirationDate
            , c.x_loyalty_engagement__c as loyaltyEngagementIndex
            , c.x_loyalty_satisfaction__c as loyaltySatisfactionLevel
            , c.x_loyalty_crm_index__c as loyaltyCRMIndex
            , c.x_seg_life_cycle__c as loyaltyLifeCycle
            , c.x_loyalty_satisfaction__c as loyaltyTierLevel
            , c.x_loyalty__status__c as loyaltyStatus
            , c.x_loyalty_optin_flg__c as loyaltyOPTINFla
            , c.mailingpostalcode as postalCode
            , c.mailingstreet as street
            , c.mailingstreet_2__c as number
            , c.mailingstreet_3__c as complement
            , c.mailingcountry__c as county
            , c.mailingcity__c as city
            , c.mailingstate as state
        from
            process.contact c
        where 
            c.row_id = #{contactId}
        and
            c.cpf__c = #{cpf}
    </select>

    <select id="getlistOfServiceRequest" parameterType="IFHMBINNOCEANCDPP0032Dto" resultType="IFHMBINNOCEANCDPP0032Dto">
        select 
            l.partneraccountId as protocol
            , l.state as status
            , l.testdrv_dt as testDriveDate
            , l.test_drv_tm as testDriveTime
            , l.test_drv_confirmed as testDriveConfirmed
            , l.sr_area as area
            , a.dealercode__c as dealer
            , a.firstname as SalesRepFirstName
            , a.lastname as SalesRepLastName
        from
            process.account a
        left join 
            process.lead l
        on
        	a.row_id = l.partneraccountId
        where 
            a.row_id = #{contactId};
    </select>
    
</mapper>
