<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBSAPCDPP0005Mapper">
    
    <insert id="insertObject" parameterType="IFHMBSAPCDPP0005Dto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.if_account_ws_wf
            (
                created
                , created_by
                , last_upd
                , last_upd_by
                , integrationid
                , cnpjnumber
                , name
                , nickname
                , parentaccountname
                , agencycode
                , fleetacconttype
                , industrytrend
                , numberofemployee
                , totalfleetsize
                , contractedsince
                , source
                , organizationtype
                , mainphonenumber
                , mainfaxnumber
                , mainemailaddress
                , homepage
                , streetaddress
                , streetaddress2
                , Streetaddress3
                , county
                , city
                , state
                , postalcode
            )
        values
            (
                now()
                , 'interface'
                , now()
                , 'interface'
                , #{integrationId}
                , #{cnpjNumber}
                , #{name}
                , #{nickname}
                , #{parentAccountName}
                , #{agencyCode}
                , #{fleetAccontType}
                , #{industryTrend}
                , #{numberOfEmployee}
                , #{totalFleetSize}
                , #{contractedSince}
                , #{source}
                , #{organizationType}
                , #{mainPhoneNumber}
                , #{mainFaxNumber}
                , #{mainEmailAddress}
                , #{homepage}
                , #{streetAddress}
                , #{streetAddress2}
                , #{streetAddress3}
                , #{county}
                , #{city}
                , #{state}
                , #{postalCode}
                
            );
    </insert>   
    
    <insert id="insertProcessAccount" statementType="CALLABLE" parameterType="hashMap">
        call process.hmb_account_webservice_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>


    <insert id="insertReplicaAccount" statementType="CALLABLE" parameterType="hashMap">
        call replica.hmb_account_webservice_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>

</mapper>
