<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBSAPEAICDPP0010Mapper">
    <select id="getRowCheck" parameterType="IFHMBSAPEAICDPP0010Dto" resultType="IFHMBSAPEAICDPP0010Dto">
        select 
            row_id
        from
            landing.s_asset
        where
            serial_num = #{serialNumber}
    </select>

    <select id="getProductRowId" parameterType="IFHMBSAPEAICDPP0010Dto" resultType="string">
        select 
            row_id as productRowId
        from
            landing.s_prod_int spi
        where 
            "name" = #{fscOcn}
    </select>

    <insert id="InsertAutoVehicle" parameterType="IFHMBSAPEAICDPP0010Dto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.s_asset (
            status_cd
            , serial_num
            , lcns_num
            , warranty_start_dt
            , asgn_dt
            , oper_status_cd
            , ownr_type_cd
            , dlr_con_int_id
            , prod_id
            , created
            , created_by
            , last_upd
            , last_upd_by
        ) values (
            #{status}
            , #{serialNumber}
            , #{vehicleLicenseNumber}
            , to_date(#{warrantyStartDate}, 'YYYY-MM-DD')
            , to_date(#{billingDate}, 'YYYY-MM-DD')
            , #{negotiationType}
            , #{subscriptionType}
            , #{salesrepId}
            , #{productRowId}
            , now()
            , 'interface'
            , now()
            , 'interface'
        );
    </insert>
    <insert id="InsertSAssetXDto" parameterType="IFHMBSAPEAICDPP0010Dto">
        insert into landing.s_asset_x (
            par_row_id
            , attrib_38
            , attrib_05
            , attrib_06
            , created
            , created_by
            , last_upd
            , last_upd_by
        ) values (
            #{rowId}
            , #{engineNumber}
            , #{internalColorCode}
            , #{externalColorCode}
            , now()
            , 'interface'
            , now()
            , 'interface'
        ); 
    </insert>
    <insert id="InsertSAssetAtxDto" parameterType="IFHMBSAPEAICDPP0010Dto">
        insert into landing.s_asset_atx (
            par_row_id
            , x_renavam_code
            , x_fuel
            , prchs_price
            , x_manufacture_year
            , odomtr_sale
            , dealer_rcpt_dt
            , first_sale_dt
            , created
            , created_by
            , last_upd
            , last_upd_by
        ) values (
            #{rowId}
            , #{renavamCode}
            , #{fuel}
            , #{purchasePrice}
            , #{manufactureYear}
            , #{mileage}
            , to_date(#{saleToDealerDate}, 'YYYY-MM-DD')
            , to_date(#{deliverToCustomerDate}, 'YYYY-MM-DD')
            , now()
            , 'interface'
            , now()
            , 'interface'
        );
    </insert> 
    <insert id="InsertSAssetConDtoList" parameterType="java.util.List">
        insert into landing.s_asset_con (
            contact_id
            , relation_type_cd
            , status_cd
            , created
            , created_by
            , last_upd
            , last_upd_by
            , asset_id
        ) values 
        <foreach collection="list" item="item" separator=",">
        (
            #{item.connexContactId}
            , #{item.contactType}
            , #{item.contactStatus}
            , now()
            , 'interface'
            , now()
            , 'interface'
            , #{item.assetRowId} 
        )
        </foreach>
    </insert>
    <update id="UpdateSConDtoList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
                landing.s_contact
            set
                emp_flg = #{item.employee}
            where
                pr_asset_id = #{item.assetRowId}
        </foreach>
    </update>
    <insert id="InsertSAssetAccDtoList" parameterType="java.util.List">
        insert into landing.s_asset_accnt(
            accnt_id
            , rel_type_cd
            , status_cd
            , created
            , created_by
            , last_upd
            , last_upd_by
            , asset_id
        ) values 
        <foreach collection="list" item="item" separator=",">
        (
            #{item.connexAccountId}
            , #{item.accountType}
            , #{item.accountStatus}
            , now()
            , 'interface'
            , now()
            , 'interface'
            , #{item.assetRowId}
        )
        </foreach>
    </insert>

    
    <update id="UpdateAutoVehicle" parameterType="IFHMBSAPEAICDPP0010Dto">
        update 
            landing.s_asset
        set
            status_cd = #{status}
            , lcns_num = #{vehicleLicenseNumber}
            , warranty_start_dt = to_date(#{warrantyStartDate}, 'YYYY-MM-DD')
            , asgn_dt = to_date(#{billingDate}, 'YYYY-MM-DD')
            , oper_status_cd = #{negotiationType}       
            , ownr_type_cd =  #{subscriptionType}        
            , dlr_con_int_id = #{salesrepId}
        where
            serial_num = #{serialNumber}
    </update>
    <update id="UpdateSAssetXDto" parameterType="IFHMBSAPEAICDPP0010Dto">
        update 
            landing.s_asset_x
        set
            attrib_38 = #{engineNumber}
            , attrib_05 = #{internalColorCode}
            , attrib_06 = #{externalColorCode}
        where 
            par_row_id = #{rowId}
    </update>
    <update id="UpdateSAssetAtxDto">
        update 
            landing.s_asset_atx 
        set 
            x_renavam_code = #{renavamCode}
            , x_fuel = #{fuel}
            , prchs_price = #{purchasePrice}
            , x_manufacture_year = #{manufactureYear}
            , odomtr_sale = #{mileage}
            , dealer_rcpt_dt = to_date(#{saleToDealerDate}, 'YYYY-MM-DD')
            , first_sale_dt = to_date(#{deliverToCustomerDate}, 'YYYY-MM-DD')
        where
            par_row_id = #{rowId}
    </update>
    <update id="UpdateSAssetConDtoList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update 
                landing.s_asset_con 
            set 
                contact_id = #{item.connexContactId}
                , relation_type_cd = #{item.contactType}
                , status_cd = #{item.contactStatus}
            where
                asset_id = #{item.assetRowId}
        </foreach>
    </update>
    <update id="UpdateSAssetAccntDtoList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update 
                landing.s_asset_accnt 
            set 
                accnt_id = #{item.connexAccountId}
                , rel_type_cd = #{item.accountType}
                , status_cd = #{item.accountStatus}
            where
                asset_id = #{item.assetRowId}
        </foreach>
    </update>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.hmb_auto_vehicle_webservice_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{checkcu,jdbcType=VARCHAR,mode=IN});
    </insert>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call Replica.hmb_auto_vehicle_webservice_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{checkcu,jdbcType=VARCHAR,mode=IN});
    </insert>
</mapper>