<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBDMSCDPP0004Mapper">
    
    <select id="getContact" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select 
            sc.row_id as rowId
        from 
            landing.s_contact sc 
        where
            sc.created = to_date(#{date},'YYYY-MM-DD')
        <if test="statusLead != null and statusLead != ''">
            and
                sc.status_cd = #{statusLead}
        </if>    
    </select>

    <select id="contactInfoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select 
            a.row_id as rowId
            , a.firstname as nome
            , a.lastname as sobrenome
            , a.gender__pc as genero
            , a.personbirthdate as dataNascimento
            , a.personmobilephone as telefone
            , a.personemail as email
            , c.cpf__c as cpf
            , a.billingpostalcode as cep
            , a.billingstreet as endereco
            , a.row_id as idconnex
            <!--, a.X_CAR_REPL_INTENT as dataPrevistaCarroNovo-->
        from 
            process.account a
        join
        	process.contact c 
        on
        	a.row_id = c.account_row_id
        where
            a.row_id = #{rowId}
    </select>
    
    <select id="veiculoInfoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select
            ass.modelname__c as modelo
            , ass.enginetype__c as motor
            , ass.latestmileage__c as transmissao
            , ass.x_license_plate__c as versao
            , ass.vehiclecolor__c as cor
        from 
            process.asset ass 
        where 
            ass.assetaccountrollupkey__c = #{rowId}

    </select>

    <select id="opvInfoList" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select 
            le.row_id as rowId
            , le.sr_num__c as protocolo
            , le.dealercode__c as codigoConcessionaria
            , le.sourcechannelcategory__c as origem
            , le.sourcechannelItem__c as metodo
            , le.act_open_dt__c as dataAbertura
            , le.sr_stat_id__c as status
            , le.sr_sev_cd__c as prioridade
            , le.x_pne_flg__c as identificacaoPCD
            , le.customertype__c as tipoContato
            , le.x_already_customer__c as clienteHyundai
            , le.x_opv_usedcar_paymnt__c as usadoNaTroca
            <!--, le.ATTRIB_13 as optInCotacao-->
            , le.calloptin__c as optInContato
            , le.company as nomeConcessionaria
            , le.cust_stat_cd__c as statusConcessionaria
            , le.description as comentario
            , le.sourcechannelItem__c as metodoContato
            , le.desc_text__c as observacoesContato
            , le.x_camp_id__c as dadosCampanha
        from 
            process.lead le
        where 
            le.convertedaccountid = #{rowId}
    </select>
    <select id="financiamentoopvList" parameterType="IFHMBDMSCDPP0004Dto" resultType="IFHMBDMSCDPP0004Dto">
        select 
            le.x_opv_wants_loan__c as querFinanciar
            , le.x_opv_loan_type__c as tipoFinanciamento
            , le.x_opv_down_paymnt__c as valorEntradaFinanciamento
            , le.x_opv_installments_amt__c as qtdParcelaFinanciamento
        from 
            process.lead le
        where 
            le.convertedaccountid = #{rowId}
    </select>
    
</mapper>
