<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBSAPCDPP0079Mapper">
    <insert id="insertRepair" parameterType="IFHMBSAPCDPP0079Dto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.if_in_repair_order(
            created
            , created_by
            , last_upd
            , last_upd_by
            , soid
            , dealercode
            , vincode
            , mileage
            , cpf
            , opendt
            , closedt
            , status
            , total_value
        )values(
            now()
            , 'interface'
            , now()
            , 'interface'
            , #{soid}
            , #{dealercode}
            , #{vincode}
            , #{mileage}
            , #{cpf}
            , #{opendt}
            , #{closedt}
            , #{status}
            , #{totalValue}
        )
    </insert>
    <insert id="insertRepairService" parameterType="IFHMBSAPCDPP0079Dto">
        insert into landing.if_in_repair_order_service(
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , soid
            , dealercode
            , vincode
            , sotype
            , codsrc
            , zdesc
            , zqty
            , value
            , erdat
            , erzet
            , aedat
            , aezet
        )values
        <foreach collection="listOfService" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{item.soid}
                , #{item.dealercode}
                , #{item.vincode}
                , #{item.sotype}
                , #{item.codsrc}
                , #{item.zdesc}
                , #{item.zqty}
                , #{item.value}
                , #{item.erdat}::date
                , #{item.erzet}::time
                , #{item.aedat}::date
                , #{item.aezet}::time
            )
        </foreach>
    </insert>
    <insert id="insertRepairPart" parameterType="IFHMBSAPCDPP0079Dto">
        insert into landing.if_in_repair_parts(
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , soid
            , dealercode
            , vincode
            , sotype
            , pncode
            , zdesc
            , zqty
            , value
            , erdat
            , erzet
            , aedat
            , aezet
        )values
        <foreach collection="listOfParts" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{item.soid}
                , #{item.dealercode}
                , #{item.vincode}
                , #{item.sotype}
                , #{item.pncode}
                , #{item.zdesc}
                , #{item.zqty}
                , #{item.value}
                , #{item.erdat}::date
                , #{item.erzet}::time
                , #{item.aedat}::date
                , #{item.aezet}::time
            )
        </foreach>
    </insert>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.if_in_repair_order(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>

</mapper>
