<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0022Mapper">
    
    <select id="getCheckHolyDay" parameterType="IFHMBINNOCEANCDPP0022Dto" resultType="IFHMBINNOCEANCDPP0022Dto">
            select
                soe.row_id as rowId
                , soe.name as name
                , soe.ou_type_cd as ouTypeCd
                , soex.row_id as holyRowId
            from
                landing.S_ORG_EXT soe
            join
                landing.S_ORG_EXT_XM soex
            on
                soe.row_id = soex.par_row_id 
            where    
                soe.OU_NUM = #{dealerCode}
            and
                soex.ATTRIB_12 = to_date(#{holidayDate},'YYYY-MM-DD')
            and
                soex.type = 'Dealer Local Holiday'
            order by soe.created desc
    </select>

    <select id="getRowId" parameterType="IFHMBINNOCEANCDPP0022Dto" resultType="IFHMBINNOCEANCDPP0022Dto">
        select
            soe.row_id as rowId
        from
            landing.S_ORG_EXT soe
        where    
            soe.OU_NUM = #{dealerCode}
    </select>

    <insert id="insertObject" parameterType="IFHMBINNOCEANCDPP0022Dto" useGeneratedKeys="true" keyProperty="holyRowId" keyColumn="row_id">
        insert into landing.S_ORG_EXT_XM
        (
            created
            , created_by
            , last_upd
            , last_upd_by
            , par_row_id
            , NAME
            , type
            , ATTRIB_02
            , ATTRIB_03
            , ATTRIB_12
        )
        VALUES 
        (	
            now()
            , 'interface'
            , now()
            , 'interface'
            , #{rowId}
            , to_char(to_date(#{holidayDate}, 'YYYY-MM-DD'), 'MM/DD/YYYY')
            , 'Dealer Local Holiday'
            , #{holidayDescription}
            , public.get_dayofweek(to_date(#{holidayDate},'YYYY-MM-DD'))
            , to_date(#{holidayDate},'YYYY-MM-DD')
        );
    </insert>

    <update id="updateObject" parameterType="IFHMBINNOCEANCDPP0022Dto">
                update landing.S_ORG_EXT_XM set
                last_upd = now()
                , last_upd_by = 'interface'
                , NAME = to_char(to_date(#{holidayDate}, 'YYYY-MM-DD'), 'MM/DD/YYYY')
                , ATTRIB_02 = #{holidayDescription}
                , ATTRIB_03 = public.get_dayofweek(to_date(#{holidayDate},'YYYY-MM-DD'))
                , ATTRIB_12 = to_date(#{holidayDate},'YYYY-MM-DD')
            where
                row_id = #{holyRowId};
    </update>
    
    <delete id="deleteObject" parameterType="IFHMBINNOCEANCDPP0022Dto">
        delete from 
            landing.S_ORG_EXT_XM
        where 
            row_id = #{holyRowId}
    </delete>
    
    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.hmb_mntsrvc_manage_dealer_holiday(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{checkcu,jdbcType=VARCHAR,mode=IN});
    </insert>
</mapper>
