<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0046Mapper">
    
    <select id="getParRowId" parameterType="IFHMBINNOCEANCDPP0046Dto" resultType="string">
        select 
            row_id as parRowId
        from 
            landing.s_org_ext
        where 
            ou_num = #{dealerCode}
    </select>

    <delete id="deleteList" parameterType="IFHMBINNOCEANCDPP0046Dto">
        delete from 
            landing.s_org_ext_xm 
        where 
            par_row_id = #{parRowId}
    </delete>
    
    <insert id="insertList" parameterType="IFHMBINNOCEANCDPP0046Dto">
        insert into landing.s_org_ext_xm
        (
            par_row_id
            , x_dlr_srvc_type
            , ATTRIB_14
            , "type"
            , "name"
            , created_by
            , created
            , last_upd_by
            , last_upd
        )values 
        <foreach collection="listOfServices" item="item" separator=",">
            (
                #{parRowId}
                , #{item.serviceType}
                , #{item.serviceLength}
                , 'Dealer Maintenance Service'
                , #{item.serviceType}
                , 'interface'
                , now()
                , 'interface'
                , now()
            )
        </foreach>
    </insert>

    <select id="getReplicaRowId" parameterType="IFHMBINNOCEANCDPP0046Dto" resultType="string">
        select 
            row_id as replicaRowId
        from 
            process.account 
        where 
            external_id__c = #{parRowId}
    </select>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.hmb_mntsrvc_manage_dealer_service(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call replica.hmb_mntsrvc_manage_dealer_service(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>
    
</mapper>
