<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0037Mapper">



    <insert id='insertObject' parameterType="IFHMBINNOCEANCDPP0037Dto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.if_update_contact_in_wf
        (
            , created
            , created_by
            , last_upd
            , last_upd_by
            , cnhexpirationdate
            , contactid
            , suppressallemails
            , suppressallsms
            , printedcard
        )
        values
        (
            now()
            , 'interface'
            , now()
            , 'interface'
            , to_date(#{cnheXpirationDate}, 'YYYY-MM-DD')
            , #{contactId}
            , #{suppressAllEmails}
            , #{suppressAllSMS}
            , case when lower(#{printedCard}) = 'false' then false else true end
        )
    </insert>
    
    <insert id="insertAutoVehicle" parameterType="IFHMBINNOCEANCDPP0037Dto">
        insert into landing.if_update_contact_in_wf_vehicle
        (
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , vehicleid
            , relationshiptatus 
            , hmbrenavamcode
            , currentmileage
            , vehiclelicensenumber
        )
        values
        <foreach collection="listOfAutoVehicle" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{item.vehicleId}
                , #{item.relashionshipStatus}
                , #{item.HMBRenavamCode}
                , #{item.currenMileage}
                , #{item.vehicleLicenseNumber}
            )
        </foreach>
    </insert>

    <insert id="insertHobby" parameterType="IFHMBINNOCEANCDPP0037Dto">
        insert into landing.if_update_contact_in_wf_hobby
        (
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , hobbydescription
        )
        values
        <foreach collection="listOfContactHobby" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{hobbyDescription}
            )
        </foreach>
    </insert>

    <insert id="insertSoccerTeam" parameterType="IFHMBINNOCEANCDPP0037Dto">
        insert into landing.if_update_contact_in_wf_soccerteam
        (
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , soccerteam
        )
        values
        <foreach collection="listOfContactSoccerTeam" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{soccerTeam}
            )
        </foreach>
    </insert>

    <insert id="insertSocialMedia" parameterType="IFHMBINNOCEANCDPP0037Dto">
        insert into landing.if_update_contact_in_wf_socialmedi
        (
            par_row_id
            , created
            , created_by
            , last_upd
            , last_upd_by
            , socialmedianame
            , socialmediauser
            , sourcecity
        )
        values
        <foreach collection="listOfContactSocialMedia" item="item" separator=",">
            (
                #{rowId}
                , now()
                , 'interface'
                , now()
                , 'interface'
                , #{socialMediaName}
                , #{socialMediaUser}
                , #{sourceCity}
            )
        </foreach>
    </insert> 


    <select id="getUpdateContactOutput" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.UpdateContactOutput">
        select 
            c.loyaltyexpirationdate__c as cnheXpirationDate
            , c.firstname as firstName
            , c.lastname as lastName
            , c.birthdate as birthDate
            , c.gender__c as gender
            , c.homephone as homePhone
            , c.companyphone__c as workPhone
            , c.mobilephone as cellPhone
            , c.email as emailAddress
            , c.emailoptyn__c as suppressAllEmails
            , c.x_printed_card__c as printedCard
            , c.x_amount_friends__c as amountFriends
            , c.x_amount_children__c as amountChildren
            , c.x_loyalty_optin_flg__c as loyaltyOPTINFla
            , c.mailingstreet as streetAddress
            , c.mailingstreet_2__c as streetAddress2
            , c.mailingstreet_3__c as streetAddress3
            , c.mailingcountry as county
            , c.mailingcity as city
            , c.mailingstate as state
            , c.mailingpostalcode as postalCode
        from
            process.contact c
        where 
            c.external_id__c = #{contactId}
    </select>
    
    <select id="getListVehicle" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfAutoVehicle">
        select 
            vehicleid as hobbyDescription
            , relashionshipstatus as relashionshipStatus
            , hmbrenavamcode as HMBRenavamCode
            , currenmileage as currenMileage
            , vehiclelicensenumber as vehicleLicenseNumber
        from 
            landing.if_update_contact_in_wf_vehicle v 
        where 
            v.par_row_id = #{rowId}        
    </select>

    <select id="getListHobby" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactHobby">
        select 
            hobbydescription as hobbyDescription
        from 
            landing.if_update_contact_in_wf_hobby h 
        whereh
            h.par_row_id = #{rowId}
    </select>
    
    <select id="getListSoccerTeam" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactSoccerTeam">
        select 
            soccerteam as soccerTeam
        from 
            landing.if_update_contact_in_wf_soccerteam s 
        where 
            s.par_row_id = #{rowId}
    </select>

    <select id="getListSocialMedia" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="com.hyundaimotors.hmb.cdppapp.payload.IFHMBINNOCEANCDPP0037.ListOfContactSocialMedia">
        select 
            socialmedianame as soccerTeam
            , socialmediauser as socialMediaUser
            , sourcecity as sourceCity
        from 
            landing.if_update_contact_in_wf_socialmedia s 
        where 
            s.par_row_id = #{rowId}
    </select>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.if_update_contact_in_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{CONTACT_ID,jdbcType=VARCHAR,mode=IN});
    </insert>

    <select id="getAcountAndContactId" parameterType="IFHMBINNOCEANCDPP0037Dto" resultType="IFHMBINNOCEANCDPP0037Dto">
        select
            a.row_id as processAccountRowId
            , c.row_id as processContactRowId
        from 
            process.account a 
        join
            process.contact c 
        on
            a.row_id = c.account_row_id 
        where 
            c.row_id = #{contactId}
    </select>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call Replica.if_update_contact_in_wf(#{PARAM_ID,jdbcType=VARCHAR,mode=IN}, #{PARAM_ID_01,jdbcType=VARCHAR,mode=IN},#{PARAM_ID_02,jdbcType=VARCHAR,mode=IN});
    </insert>
</mapper>
