<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0025Mapper">

    <select id="getProcProtocol" parameterType="ScheduleMaintenanceINDto" resultType="String">
        select
            protocol__c as procProtocol
        from
            process.service_request
        where
            external_id__c = CAST(#{rowId} AS TEXT)
        limit 1
    </select>

    <insert id="insertObject" parameterType="ScheduleMaintenanceINDto" useGeneratedKeys="true" keyProperty="rowId" keyColumn="row_id">
        insert into landing.if_mntsrvc_schedule_maintenance
        (
            created
            , created_by
            , last_upd
            , last_upd_by
            , source
            , srNumber
            , srReason
            , srLevel1
            , srLevel2
            , srLevel3
            , srLevel4
            , srSource
            , srMethod
            , srDescription
            , srPriority
            , srStatus
            , dealerCode
            , chassis
            , customerCPF
            , consultantCPF
            , technicianCPF
            , serviceType
            , serviceStatus
            , serviceArrivaldate
            , serviceStartdate
            , serviceDuration
            , serviceDeliverydate
        )values(
            now()
            , 'interface'
            , now()
            , 'interface'
            , #{source}
            , #{srNumber}
            , #{srReason}
            , #{srLevel1}
            , #{srLevel2}
            , #{srLevel3}
            , #{srLevel4}
            , #{srSource}
            , #{srMethod}
            , #{srDescription}
            , #{srPriority}
            , #{srStatus}
            , #{dealerCode}
            , #{chassis}
            , #{customerCPF}
            , #{consultantCPF}
            , #{technicianCPF}
            , #{serviceType}
            , #{serviceStatus}
            , #{serviceArrivaldate}::timestamp(0)
            , #{serviceStartdate}::timestamp(0)
            , #{serviceDuration}
            , #{serviceDeliverydate}::timestamp(0)
        );
    </insert>

    <insert id="transferProcess" statementType="CALLABLE" parameterType="hashMap">
        call process.if_mntsrvc_schedule_maintenace(#{PARAM_ID,jdbcType=VARCHAR,mode=IN});
    </insert>

    <insert id="transferReplica" statementType="CALLABLE" parameterType="hashMap">
        call replica.if_mntsrvc_schedule_maintenace(#{PROC_PROTOCOL,jdbcType=VARCHAR,mode=IN});
    </insert>
</mapper>
