<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundaimotors.hmb.cdppapp.mapper.IFHMBINNOCEANCDPP0033Mapper">
    
    <select id="getAsset" parameterType="IFHMBINNOCEANCDPP0033Dto" resultType="HMBVehicleDto">
        select  
            pa.row_id as assetId
            , pa.serialnumber as vin
            , pa.enginenumber__c as engineNumber
            , pa.carregistrationnumber__c as licenseNumber
            , pa.renavam_code__c as renavamCode
            , pa."name" as fscOcn
            , pp.description as description
            , pa.manufacturedate as manufactureYear
            , pa.modelyear__c as modelYear
            , pa.vehicleinternalcolor__c as internalColorCode
            , pa.vehiclecolor__c as externalColorCode
            , pa.carregistrationnumber__c as vehicleLicenseNumber
            , pa.fueltype__c as fuel
            , pa.status as status
            , pa.dealer_rcpt_dt__c as saleToDealerDate
            , pa.billing_date__c as billingDate
            , pa.cf_eval_svc_cd__c as ccsFlg
            , pa.warranty_start_dt__c as warrantyStartDate
            , pa.purch_loc_desc__c as fiscalReceipt
            , (select row_id from process.account where dealercode__c = pa.dealercode__c  ) as dealerId
            , pa.dealercode__c  as dealerCode
            , (select "name" from process.account where dealercode__c = pa.dealercode__c) as dealerName
            , (select corporaterepresentativename__c from process.account where dealercode__c = pa.dealercode__c) as dealerNickname
            , pa.salesrepfirstname || ' ' || pa.salesreplastname  as salesManName
            , pa.oper_status_cd__c as negotiationType
            , pa.dlr_con_int_id__c as salesManId
            , pa.fsc__c as fsc_ocn
            , pa.latestmileage__c as mileage
            , a3.external_id__c as AccountSearchId
            , a2.external_id__c as contactSearchId
        from
            process.asset pa
        left join
            process.asset_con ac 
        on
            pa.external_id__c = ac.asset_id  
        left join 
            process.account a2 
        on
            ac.contact_id = a2.external_id__c 
        left join
            process.asset_accnt aa
        on
            pa.external_id__c = aa.asset_id and a2."type" in('c_Customer', 'c_Prospect', 'c_Ex-Customer')
        left join 
            process.account a3 
        on
            aa.accnt_id = a3.external_id__c and a3."type" not in('dealer','c_Customer','c_Prospect','c_Ex-Customer')
        left join
            process.product pp
        on
            pa."name"  = pp."name"
        where 
            1=1
        <if test='idInterface == "1"'>
        and    
            pa.serialnumber = #{serialNumber}
        limit 1
        </if>
        <if test='idInterface == "2"'>
        and    
            pa.carregistrationnumber__c = #{licenseNumber}
        limit 1
        </if>
        <if test='idInterface == "3"'>
        and
            pa.renavam_code__c = #{renavamCode}
        </if>
        <if test='idInterface == "4"'>
        and
            a2.cpf__c = #{cpf}
        </if>
        <if test='idInterface == "5"'>
        and
            a3.corporateregistrationnumber__c = #{cnpj}
        </if>
        <if test='idInterface == "6"'>
        and
            pa.billing_date__c between to_date(#{startDate}, 'YYYY-MM-DD') and to_date(#{endDate}, 'YYYY-MM-DD')
        </if>
        <if test='idInterface == "7"'>
        and
            pa.external_id__c = #{connexid}
        limit 1
        </if>
        <if test='idInterface == "8"'>
        and
            pa.billing_date__c between to_date(#{startDate}, 'YYYY-MM-DD') and to_date(#{endDate}, 'YYYY-MM-DD')
        </if>
        <if test='idInterface == "9"'>
        and
            pa.billing_date__c between to_date(#{startDate}, 'YYYY-MM-DD') and to_date(#{endDate}, 'YYYY-MM-DD')
        </if>
        <!-- <if test='idInterface == "9"'>
        and
            pa.serialnumber = #{serialNumber}
        limit 1
        </if> -->
        <if test='idInterface == "10"'>
        and
            pa.billing_date__c = to_date(#{startDate}, 'YYYY-MM-DD')
        </if>
        <if test='idInterface == "11"'>
        and
            pa.serialnumber = #{serialNumber}
        limit 1
        </if>
        <if test='idInterface == "12"'>
        and
            pa.billing_date__c between to_date(#{startDate}, 'YYYY-MM-DD') and to_date(#{endDate}, 'YYYY-MM-DD')
        and 
            a3.dealercode__c = #{dealerCode}
        limit 1
        </if>
    </select>

    <select id="getContact"  parameterType="IFHMBINNOCEANCDPP0033Dto" resultType="ContactDto">
        select 
            pc.external_id__c as id
            , pc.firstname as firstName
            , pc.lastname as lastName
            , pc.personbirthdate as birthDate
            , pc.cpf__c as document
            , pc.gender__pc as sex
            , pc."type" as personType
            , pc.billingpostalcode as postalCode
            , pc.billingstreet as street
            , pc.billingstreet_2__c as number
            , pc.billingstreet_3__c as complement
            , pc.billingcountry as county
            , pc.billingcity as city
            , pc.billingstate as state
            , pc.personhomephone as homePhone
            , pc.companyphone__pc as workPhone
            , pc.personmobilephone as cellPhone
            , pc.emailaddress as emailAddress
            , pac.relation_type_cd as relationshipType
            , pac.status_cd as relationshipStatus
        from 
            process.account pc
        join
            process.asset_con pac 
        on
            pc.external_id__c = pac.contact_id 
        join 
        	process.asset pa
        on
        	pa.external_id__c = pac.asset_id
        where 
            pc.external_id__c = #{contactInputId}
        and
        	pa.external_id__c = #{assetInputId}
    </select>

    <select id="getAccount"  parameterType="IFHMBINNOCEANCDPP0033Dto" resultType="AccountAssetDto">
        select 
            pc.external_id__c as id
            , pc.corporateregistrationnumber__c as cnpj
            , pc.name as name
            , pc.corporaterepresentativename__c as nickname
            , pc.type as personType
            , pc.billingpostalcode as zipCode
            , pc.billingstreet as streetAddress
            , pc.billingstreet_2__c as streetAddress2
            , pc.billingstreet_3__c as streetAddress3
            , pc.billingcity as city
            , pc.billingstate as state
            , pc.billingcountry as neighborhood
            , pc.phone as mainPhone
            , pc.fax as fax
            , pc.emailaddress__c as mainEmailAddress
            , paa.rel_type_cd as relationshipType
            , paa.status_cd as relationshipStatus
        from
            process.account pc
        join
            process.asset_accnt paa
        on
            pc.external_id__c  = paa.accnt_id 
        join 
        	process.asset pa
        on
        	paa.asset_id = pa.external_id__c
        where 
            pc.external_id__c = #{accountInputId}
        and
            pa.external_id__c = #{assetInputId}
    </select>
</mapper>
